body {
		margin: 0;
}

.container {
		width: 100%;
}
.container .wrapper-logo {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
}
.container .wrapper-logo .logo {
		background: #FFFF;
		padding: 22px 0;
		max-width: 326px;
		width: 100%;
}
.container .wrapper-logo .logo .logo__link {
		max-width: 310px;
		width: 100%;
		margin-left: 2%;
		margin-right: auto;
}
.container .wrapper-logo .logo .logo__link .img {
		width: 100%;
		max-width: 326px;
}
.container .wrapper-logo .menu-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
}
.container .wrapper-logo .menu-top .menu-top__link {
		font-weight: 500;
		color: #BB271A;
		font-size: 16px;
		line-height: 24px;
		text-decoration: none;
		padding: 0 18px;
		border-right: 1px solid #D3D3D3;
}
.container .wrapper-logo .menu-top .menu-top__link:first-child {
		color: #000000;
		border-right: 1px solid #D3D3D3;
}
.container .wrapper-logo .menu-top .menu-top__hamburger {
		width: 40px;
		height: 40px;
		background: #FFFFFF;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-left: 10px;
}
.container .wrapper-logo .menu-top .menu-top__hamburger .menu-top__line {
		width: 24px;
		height: 1px;
		background: #000000;
		margin-bottom: 8px;
}
.container .wrapper-logo .menu-top .menu-top__hamburger .menu-top__line:nth-child(3) {
		margin-bottom: 0;
}
.container .wrapper-logo .menu-top .menu-top__hamburger.active {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.container .wrapper-menu {
		border-top: 1px solid #D3D3D3;
}
.container .wrapper-menu .menu {
		max-width: 1400px;
		width: 100%;
		margin: 0 auto;
}
.container .wrapper-menu .menu .nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 12px 0;
}
.container .wrapper-menu .menu .nav .nav__icon {
		margin-left: 6%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 40px;
		height: 35px;
		background: #ffff;
		border-bottom: 5px solid #ED1C24;
}
.container .wrapper-menu .menu .nav .nav__icon img {
		width: 15px;
		height: 14px;
}
.container .wrapper-menu .menu .nav .nav__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		max-width: 1150px;
		width: 100%;
}
.container .wrapper-menu .menu .nav .nav__list .nav__item {
		list-style: none;
}
.container .wrapper-menu .menu .nav .nav__list .nav__item .nav__link {
		color: #000000;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 24px;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		text-decoration: none;
}
.container .wrapper-menu .menu .nav .nav__list .nav__item .nav__link:hover {
		color: #ED1C24;
}
.container .wrapper-menu .menu .menu-top {
		display: none;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
}
.container .wrapper-menu .menu .menu-top .menu-top__link {
		font-weight: 500;
		color: #BB271A;
		font-size: 16px;
		line-height: 24px;
		text-decoration: none;
		padding: 0 10px;
		border-right: 1px solid #D3D3D3;
}
.container .wrapper-menu .menu .menu-top .menu-top__link:first-child {
		color: #000000;
		border-right: 1px solid #D3D3D3;
}
.container .wrapper-menu .menu .menu-top .menu-top__hamburger {
		width: 40px;
		height: 40px;
		background: #FFFFFF;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-left: 5px;
}
.container .wrapper-menu .menu .menu-top .menu-top__hamburger .menu-top__line {
		width: 24px;
		height: 1px;
		background: #000000;
		margin-bottom: 8px;
}
.container .wrapper-menu .menu .menu-top .menu-top__hamburger .menu-top__line:nth-child(3) {
		margin-bottom: 0;
}
.container .wrapper-menu .menu .menu-top .menu-top__hamburger.active {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}

/*Responsive*/
@media (max-width: 1200px) {
		.container .wrapper-menu .menu .menu-top {
				max-width: 370px;
				margin-left: auto;
				margin-right: 1%;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
		}

		.container .wrapper-menu .menu .nav .nav__list {
				display: none;
		}

		.container .wrapper-logo .menu-top {
				display: none;
		}

		.container .wrapper-menu .menu .nav__hamburger {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				margin-left: auto;
				margin-right: 2%;
		}

		.container .wrapper-logo .logo {
				margin-right: auto;
		}
}
@media (max-width: 575px) {
		.container .wrapper-menu .menu .nav .nav__icon {
				margin-left: 3%;
		}

		.container .wrapper-logo .logo img {
				max-width: 219px;
		}
}