.b1 {
    height: 785px;
    padding: 0;
}

.b1 h2 {
    color: #fff;
    font-size: 17px;
    font-family: 'Bebas Neue Regular';
    font-weight: 400;
    text-align: center;
    letter-spacing: 3.4px;
    line-height: 25px
}

.b1 h1 {
    color: #fff;
    font-size: 82px;
    text-align: center;
    line-height: 84px
}

.for {
    text-align: center;
    margin: -3px 0;
    padding: 10px 0;
 /*   background: linear-gradient(to bottom, #60656b 0%, #fff 100%)*/
 background-color: #7d7b86;
}

.for li {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-family: 'Bebas Neue Bold';
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 5px;
    height: 20px;
    line-height: 22px
}

.for span {
    color: #ffd400
}

.for li:nth-child(2) {
    border-left: 1px solid #008cbd;
    border-right: 1px solid #008cbd;
    padding: 0 10px
}

.b1 img {
    display: block;
    margin: 0 auto 27px
}

.sale {
    font-family: 'Bebas Neue Bold';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 106px;
    height: 106px;
    display: block;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #ffd400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
    line-height: 1.5em;
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    padding: 4px 0 0;
    position: absolute;
    top: 136px;
    left: 48px
}

.sale strong {
    font-size: 38px;
}

.sale p {
    display: flex;
    flex-direction: column;
}

.stock {
    font-size: 24px;
    color: #008cbd;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue Regular';
    font-weight: 400;
    margin-top: 21px;
    border-bottom: 1px dashed;
    padding-bottom: 4px
}

.stock strong {
    color: #222;
    display: inline-block;
    background: #ffd400;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 32px;
    height: 34px;
    border-bottom: 2px solid #675f08;
    line-height: 34px;
    font-family: 'Bebas Neue Bold';
    font-weight: 700;
    margin: 0 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
}

.b2 h2 {
    padding: 0 30px
}

.beaf {
    position: relative;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    padding: 0 30px
}

.beaf img {
    display: block
}

.b2>p {
    padding: 20px;
    text-align: justify
}

.place {
    text-align: center
}

.place li {
    width: 49.5%;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 30px
}

.place p {
    font-size: 18px;
    font-family: 'Bebas Neue Regular';
    font-weight: 400;
    line-height: 22px
}

.place li:before {
    content: '';
    display: block;
    width: 122px;
    height: 122px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #00b775 url("urn:scrapbook:download:error:http://gabby.com.ua/flash-sweeper/files/p/pet-brush/pet-brush.ru/files/img/place.png") no-repeat center 0;
    margin: 0 auto 13px;
    border: 4px solid #f2f2f2
}

.place li:nth-child(2):before {
    background-position: center -155px
}

.place li:nth-child(3):before {
    background-position: center -315px
}

.place li:nth-child(4):before {
    background-position: center -475px
}

.place li:nth-child(5):before {
    background-position: center -640px
}

.place li:nth-child(6):before {
    background-position: center -820px
}

.b4 {
    padding-top: 0
}

.b4 h2 {
    margin-top: 0
}

.use {
    background: #373a41;
    color: #fff
}

.use li {
    display: flex;
    height: 234px;
    text-align: center;
}

.use li .block {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.use li .block img {
    width: 100%;
    height: 100%;
}

.use p:before {
    display: block;
    background: #00b775;
    margin: 0 auto 10px;
    font-size: 46px;
    font-family: 'Bebas Neue Bold';
    font-weight: 700;
    line-height: 71px
}

.b5 {
    height: 614px;
    color: #fff;
    background-color: #7d7b86
}

.ship {
    text-align: center
}

.ship li {
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    margin-bottom: 38px
}

.ship span {
    background: url("../images/ship0000.png") no-repeat center 0;
    display: block;
    width: 137px;
    height: 137px;
    margin: 0 auto 30px;
    padding-top: 121px
}

.ship p {
    padding: 0 27px
}

.ship li:nth-child(2) span {
    background-position: center -137px
}

.ship li:nth-child(3) span {
    background-position: center -274px
}

.ship li:nth-child(4) span {
    background-position: center -411px
}

.ship span:after {
    content: '01';
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    background: #fff;
    color: #222;
    font-size: 18px;
    font-family: 'Bebas Neue Bold';
    font-weight: 700;
    text-align: center;
    line-height: 34px;
    margin: 0 auto
}

.ship li:nth-child(2) span:after {
    content: '02'
}

.ship li:nth-child(3) span:after {
    content: '03'
}

.ship li:nth-child(4) span:after {
    content: '04'
}

.b6 {}

.reviews {}

.reviews img {
    margin: 0 auto 10px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.reviews h3 {
    text-align: center;
    font-size: 22px
}

.reviews h3:after {
    content: '';
    display: block;
    background: url("../images/stars000.png") no-repeat 0 0;
    width: 94px;
    height: 14px;
    margin: 3px auto 0
}

.reviews p {
    padding: 10px 20px 40px
}

.b7 {
    background: #313642;
    padding: 9px 0 3px 0;
    border-bottom: 1px solid #555963
}

.b7 h2 {
    color: #fff;
    font-size: 54px;
    text-align: center
}

.b7 h2 strong {
    color: #ffd400
}

.end {
    height: 600px;
    border-bottom: 1px solid #555963
}

.b8 {
    background: #313642;
    padding-bottom: 21px;
    border-bottom: 1px solid #484b54
}

.footer {
    text-align: center;
    padding: 40px 0 30px;
    background: #2e2f33
}

.footer a {
    font-size: 14px;
    color: #d5d5d6
}

.b1__header {
    background-color: #807d8b;
    padding-top: 10px;
}

.b1__image {
    position: relative;
    height: 496px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.b1__info {
    text-transform: uppercase;
    font-family: 'Bebas Neue Bold';
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    width: 164px;
    text-align: center;
    top: 179px;
    left: 251px;
}

.item__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding: 45px 0
}

.title_yellow {
    background-color: #ffd401;
    padding: 20px 0
}

.cat-block {
    height: 750px;
    background: url("http://flash-brush.tovarka24.top/cat_bg.jpg.pagespeed.ce.mbNeRaLIQG.jpg") no-repeat center;
    background-size: cover;
    padding-top: 40px
}
