@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('http://myvclean.ru/v1/src/robotothin.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotothin.woff') format('woff'), url('http://myvclean.ru/v1/src/robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('http://myvclean.ru/v1/src/robotothinitalic.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotothinitalic.woff') format('woff'), url('http://myvclean.ru/v1/src/robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('http://myvclean.ru/v1/src/robotolight.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotolight.woff') format('woff'), url('http://myvclean.ru/v1/src/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('http://myvclean.ru/v1/src/robotolightitalic.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotolightitalic.woff') format('woff'), url('http://myvclean.ru/v1/src/robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('http://myvclean.ru/v1/src/roboto.woff2') format('woff2'), url('http://myvclean.ru/v1/src/roboto.woff') format('woff'), url('http://myvclean.ru/v1/src/roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('http://myvclean.ru/v1/src/robotoitalic.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotoitalic.woff') format('woff'), url('http://myvclean.ru/v1/src/robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('http://myvclean.ru/v1/src/robotomedium.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotomedium.woff') format('woff'), url('http://myvclean.ru/v1/src/robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('http://myvclean.ru/v1/src/robotomediumitalic.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotomediumitalic.woff') format('woff'), url('http://myvclean.ru/v1/src/robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('http://myvclean.ru/v1/src/robotobold.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotobold.woff') format('woff'), url('http://myvclean.ru/v1/src/robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('http://myvclean.ru/v1/src/robotobolditalic.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotobolditalic.woff') format('woff'), url('http://myvclean.ru/v1/src/robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('http://myvclean.ru/v1/src/robotoblack.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotoblack.woff') format('woff'), url('http://myvclean.ru/v1/src/robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('http://myvclean.ru/v1/src/robotoblackitalic.woff2') format('woff2'), url('http://myvclean.ru/v1/src/robotoblackitalic.woff') format('woff'), url('http://myvclean.ru/v1/src/robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
