.header-bg__container {
  display: grid;
  grid-template-columns: repeat(3, fit-content);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'logo list metio'
    'menu menu menu'
  ;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.container.header-bg__container {
  max-width: 1300px;
}

.logo-bg {
  grid-area: logo;
}

.list-bg {
  grid-area: list;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6px 0;
  flex-wrap: wrap;
  gap: 10px 0;
}

.list-bg__item {
  display: flex;
  padding: 10px 20px;
  border-bottom: 4px solid #000;
}

.list-bg__item:last-child {
  display: none;
}

.list-bg__item:last-child::after {
  content: '';
  background-color: #000;
  width: 12px;
  height: 9px;
  transform:translateY(-2px);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.list-bg__link {
  color: #000;
  font-family: inherit;
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
}

.list-bg__link:hover {
  color: #000;
}

.header-bg__metio {
  grid-area: metio;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2f5186;
  margin: 0 0 0 auto;
}

.header-bg__metio:hover {
  color: #2f5186;
}

.header-bg__metio-icon {
  display: block;
}

.header-bg__metio-text {
  margin: 0;
  color: inherit;
  text-transform: uppercase;
}

.header-bg__burger {
  grid-area: burger;
  width: 46px;
  display: none;
}
.header-bg__burger-line{
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  display: block;
}
.header-bg__burger-line:not(:last-child){
  margin-bottom: 7px;
}

.header-bg__menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 6px 0;
  background-color: #026294;
  justify-content: center;
  margin: 0;
  gap: 20px 10px;
}

.header-bg__item {
  padding: 12px 7px;

}

.header-bg__item.active {
  background-color: #d00;
}

.header-bg__link {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.header-bg__link:hover {
  color: #fff;
}

@media (max-width:1200px) {
  .header-bg__container {
    grid-template-areas:
      'list list list'
      'burger logo metio'
    ;
  }
  .header-bg__burger{
    display: block;
    padding-left: 15px;
  }
  .list-bg__item:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header-bg__menu{
    display: none;
  }
  .list-bg{
    padding: 6px 15px;
    background-color: #fff;
  }
  .logo-bg{
    margin:0 auto;
  }
  .logo-bg::before{
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    background-color: #026294
    ;
    z-index: -1;
  }
  .container.header-bg__container{
    padding: 0;
  }
  .header-bg__metio{
    padding-right: 15px;
  }
  .header-bg__metio{
    color: #fff;
  }
}
@media (max-width:900px) {
  .list-bg__item:nth-child(n+5):nth-child(-n+8){
    display: none;
  }
  .list-bg__item{
    padding: 10px 15px;
  }
}

@media (max-width:420px) {
  .logo-bg__img{
    width: 160px;
  }
  .list-bg{
    padding: 6px 5px;
  }
  .list-bg__item{
    padding: 10px;
  }
  .list-bg__link{
    font-size: 15px;
  }
}