.topo-2{
  background-image: url("../images/header-bg_1.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  padding-top: 15px;
  
}

.materia{
  background-color: red;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

.linha{
  line-height: 10px;
  padding-top: 15px;
  padding-bottom: 5px;

}

.video{
  width: 100%;
  height: auto;
}



@media screen and (max-width: 600px) {

    p{
    font-size:1rem;
}
    
.advertorial{
    font-size: 14px;
}    

     .dataehora-3{
    
    font-size: 0.75rem !important;
    line-height: 1.0rem !important;
    letter-spacing: -.03125rem !important;
        
    }

	.estado{
		font-size: 24px !important;
		line-height: 28px !important;

	}

	.alinhando{ 

		text-align:left !important;

	}
	.sigla{
		font-size: 24px !important;
		line-height: 28px !important;
	}

	.titulo-princ{
	padding-left: 1.1rem !important;
    padding-right: 1.1rem !important;
    font-weight: 700 !important;
    color: #111;
    font-size: 1.55rem !important;
    line-height: 1.55rem !important;
    letter-spacing: 0.2px !important;
    padding-top:5px !important;
}

    .sub-titulo{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: -.03125rem !important;
    padding-top: 15px !important; 
    }

    .texto{
    
    font-family: opensans,helvetica,arial,sans-serif !important;
    font-size: 1.125rem !important;
    margin-bottom: 1.75rem !important;
    line-height: 1.75rem !important;
    letter-spacing: -.03125rem !important;
    overflow-wrap: break-word !important;
    
    }

    .sub-titulo-2{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    letter-spacing: -.03125rem !important;
    padding-top: 15px !important; 
    }

    .sub-titulo-2{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    font-size: 1rem !important;
    line-height: 1.2rem !important;
    letter-spacing: -.03125rem !important;
     
    }

    .aparecer{

		display: block!important;

	}

	.desaparecer{
		display: none !important;
	}


    .imagem2{
    width: 70% !important;
    vertical-align: middle !important;
    margin-top: -20px !important;

}

.imagem50{
    width: 100%;
    height: auto;
}



}

.imagem50{
    width: 60%;
    height: auto;
}

a {
	text-decoration: none !important;
	color: #fd180a;
    font-weight: bold;
}

a:hover{
	color: #a80707;
}

.topo-1{
	background-color: #f3f3f3;
	padding-bottom: 20px;
}



.texto-vermelho{
    color:  #C4170C;
}	

.topo-3{
	background-color: #C4170C;
	margin-top: 35px;
    width: 100% !important;
	
}

.verde{
    color: #339966;
    font-weight: bold;
}

.nunes{
    background-color: #eee;
}

p{
    font-size:1.25rem;
}

.fundo-cinza{
    background-color: #eee;
}

body{
	font-family: opensans,helvetica,arial,sans-serif !important;
}
.estado{

	font-family: opensans,helvetica,arial,sans-serif !important;
    font-size: 32px;
    letter-spacing: -.6px;
    line-height: 36px !important;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    overflow-y: hidden !important;
    max-width: 100%;
    color: #fff !important;
    
    
}

.sigla{

	font-family: opensans,helvetica,arial,sans-serif !important;
    font-size: 32px;
    letter-spacing: -.6px;
    line-height: 32px !important;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    overflow-y: hidden !important;
    max-width: 100%;
    color: var(--glb-contrast-primary-color,#fff) !important;
    

}


.advertorial{
	color: #333;
	padding-top: 9px;
}

.titulo-princ{
	padding-left: 1.5rem ;
    padding-right: 1.5rem ;
    font-weight: 700 ;
    color: #111 ;
    font-size: 3rem ;
    line-height: 3rem ;
    letter-spacing: 0.2px ;
    padding-top: 10px;
}


.sub-titulo{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -.03125rem;
    color: #555;
    padding-top: 30px;
    }

    .texto{
    
    font-family: opensans,helvetica,arial,sans-serif !important;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
    color:#333;
}

    

    .sub-titulo-2{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -.03125rem;
    color: #555;
    
    font-weight: bold;
    }

    .dataehora{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: -.03125rem;
    color: #555;
    
    }

    .dataehora-2{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: -.03125rem;
    color: #555;
    padding-top: 10px;
    
    }

    .video{
    	padding-left: 0px; 
    	padding-right: 0px; 
    	margin-right: 0px;
    	margin-left: 0px;
    	width: 100%; 
    	background-color: #000000;
    	margin-top: 30px;
    }

    #linha {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-left: 1.5rem;
   margin-right: 1.5rem;

}

	.highlight{
	background-image: linear-gradient(90deg,#fe9 50%,var(--text-highlight-color,#fe9) 0);
    background-size: 200%;
    background-position: 0;
    transition: background-position .8s;
	}

	.highlight.highlighted {
    background-position: -100%;
}

.imagem{
	width: 100%;

}

.imagem-logo{
    width: 150px;
    height: auto;
}

.imagem2{
    width: 20% !important;
    vertical-align: middle !important;
    margin-top: -50px !important;

}

	.sub-texto{
	color: #111;
	font-weight: 700;
    margin-bottom: -.5rem;
    margin-top: 1rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.0625rem;
	}

    .sub-texto2{
    color: #C4170C;
    font-weight: 700;
    margin-bottom: -.5rem;
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.0625rem;
    }


	.branco{
		color: #fff !important;
	}

	.aparecer{

		display: none;

	}





    .dataehora-3{
    
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: -.03125rem;
    color: #555;
    padding-top: 10px;
    
    }

    .dataehora-4{
    
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: -.03125rem;
    color: #555;
    
    
    }

    .btn{
        background-color: #C4170C;
        color:#fff;
        margin-top: 10px;
    }


    .alinhar{
        margin-top: 30px;
        display: block;

    }


    .alinhar-desaparecido{
        margin-top: 30px;
        display: none;
    }

    .menos-espaco{
        margin-top: -5px;
    }


    textarea{
        resize:none !important;
        margin-left: 10px;
        margin-right: 10px;
    }


     .button-try-it {
          display: inline-block;
          width: 100%;
          max-width: 400px;
          color: #ffffff!important;
          padding: 10px 15px;
          cursor: pointer;
          margin-top: 0px;
      }

      .button-try-it, .cta {
          padding: 15px;
          color: #ffffff!important;
          border: 1px solid #e45c0e;
          border-bottom: 2px solid #222222;
          border-radius: 8px;
          background-color: #e45c0e;
          background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#e45c0e),to(#de710c));
          background: linear-gradient(180deg,#e45c0e 5%,#de710c);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e45c0e",endColorstr="#de710c",GradientType=0);
      }    

      .button-try-it:hover, .cta:hover {
          background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#e45c0e),to(#de710c));
          background: linear-gradient(180deg,#e45c0e 5%,#de710c);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de710c",endColorstr="#e45c0e",GradientType=0);
          background-color: #de710c;
      }

      .button-try-it:focus, .button-try-it:hover, .cta:focus, .cta:hover {
          opacity: .9;
      }

      .button-try-it>img {
          display: inline-block;
          vertical-align: middle;
          margin-right: -4px;
      }

      .button-try-it div.text {
          width: calc(100% - 25px);
          padding-left: 10px;
      }

      .button-try-it div.text {
          display: inline-block;
          vertical-align: middle;
          margin-right: -4px;
      }

      .button-try-it div.text strong {
          line-height: 1;
          text-transform: uppercase;
          font-size: 19px;
          letter-spacing: -.06em;
      }

      .button-try-it div.text span {
          font-size: 11px;
          line-height: 1.4;
          /*font-weight: 700;*/
      }

      .button-try-it div.text strong, .button-try-it div.text span {
          width: 100%;
          float: left;
      }
@media (max-width: 390px) {
    .branco.linha{
        font-size: 15px;
    }
}