body{
    margin: 0;
}

.container{
    width: 100%;
    .wrapper{
        background:#BB271A;
        width: 100%;
       .wrapper-logo{
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: space-around;
        max-width: 1400px;
        margin: 0 auto;
        .logo{
            padding:5px 0;
            width: 100%;
            .logo__link{
                display: flex;
                margin: 0 auto;
                width: 100%;
                max-width: 250px;
                height: auto;
                .img{
                    width: 100%;
                    max-width: 250px;
                    margin-top: 5px;
                }
            }
        }
        .menu-top{
            display: flex;
            align-items:center;
            justify-content: space-between;
            max-width: 280px;
            width: 100;
            margin-left: 0;
            margin-right: auto;
            .menu-top__link{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-decoration: none;
                padding: 0 18px;
                
                &:hover svg{
                   path{
                        stroke: #000000;
                        transition: 1s;
                    }
                }       
            }
            .menu-top__link:nth-child(3){
                &:hover svg{
                    path{
                        stroke: #FFFFFF;
                        transition: 1s;
                    }
                }
            }
            .menu-top__link:first-child{
                color:#FFFFFF;
                font-size: 23px;
                line-height: 27px;
                font-weight: 400;
                text-transform: uppercase;
                   
            }
            
        }
        .wrapper-logo__hamburger{
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            margin-left: 10px;
            .wrapper-logo__line{
                width: 40px;
                height: 2px;
                background:#FFFFFF;
                margin-bottom: 8px;
                &:nth-child(4){
                    margin-bottom: 0;
                }
            }
        }
        .wrapper-logo__hamburger.active{
            display: flex;
        }
        .social{
            display: flex;
            align-items:center;
            max-width: 400px;
            width: 100%;
            justify-content: space-around;
            .social__link{
                height: 50px;
                display: flex;
                align-items:center;
                justify-content: center;
                width: 50px;
            }
            .social__link:last-child{
                border:2px solid #FFFFFF;
                color:#FFFFFF;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                max-width: 165px;
                width: 100%;
                height: 48px;
                margin: 0 10px;
                &:hover{
                    border:2px solid #000000;
                    transition: 1s;
                }
            }
        }
        
        } 
    }
    
    .wrapper-menu{
        box-shadow: 0 4px rgba(0, 0, 0, 0.25);
        .menu{
            max-width: 1350px;
            width: 100%;
            margin: 0 auto;
            .nav{
                display: flex;
                align-items: center;
                padding: 12px 0;
                .nav__icon{
                    margin-left: 6%;
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    width: 40px;
                    height: 35px;
                    background:#ffff;
                    border-bottom: 5px solid #ED1C24;
                    img{
                        width: 15px;
                        height: 14px;
                    }
                }
                .nav__list{
                    display: flex;
                    align-items:center;
                    justify-content: space-between;
                    max-width: 1220px;
                    width: 100%;
                    .nav__item{
                        list-style: none;
                        .nav__link{
                            color:#000000;
                            text-transform: uppercase;
                            font-size: 18px;
                            line-height: 24px;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                            text-decoration: none;
                            &:hover{
                                color:#ED1C24;
                                transition: .5s;
                            }
                        }
                    }
                }
            }
        }
        .social{
            display: none;
            align-items:center;
            max-width: 400px;
            width: 100%;
            justify-content: space-around;
            .social__link{
                height: 50px;
                display: flex;
                align-items:center;
                justify-content: center;
                width: 50px;
            }
            .social__link:last-child{
                border:2px solid #FFFFFF;
                color:#FFFFFF;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                max-width: 165px;
                width: 100%;
                height: 48px;
                margin: 0 10px;
            }
        }
    }
}

/*Responsive*/
@media (max-width: 1200px){
    .container .wrapper-logo .logo{
        margin-right: auto;
    }
    .container .wrapper-menu .menu .nav{
        display: none;
    }
    .container .wrapper .wrapper-logo .social{
        display: none;
    }
    .container .wrapper-menu .social{
        display: flex;
        margin-left: auto;
        margin-right: 2%;
    }
    .container .wrapper-menu .menu{
        padding: 12px 0;
    }
    .container .wrapper-menu .social .social__link:last-child {
        border:2px solid #000000;
        color:#000000;
    }
}
@media (max-width: 575px){
    .container .wrapper .wrapper-logo .menu-top .menu-top__link:nth-child(2){
        display: none;
    }
    .container .wrapper .wrapper-logo .menu-top .menu-top__link:nth-child(3){
        display: none;
    }
    .container .wrapper-menu .menu .nav .nav__icon{
        margin-left:3%;
    }
}
@media (max-width: 480px){
    .container .wrapper .wrapper-logo .menu-top .menu-top__link:first-child{
        display: none;
    }
    .container .wrapper .wrapper-logo .logo .logo__link{
        max-width: 180px;
    }
    .container .wrapper-menu .social .social__link:last-child{
        max-width: 145px;
        margin: 0 5px;
    }
}