.sect1 {
    background-image: url(./../../img/sect1_bg_dc.jpg);
    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 82px 0;
        color: #fff;
        img {
            width: 100%;
        }
        @include media-lg-tablet {
            flex-direction: column;
            padding: 70px 30px;
            padding-bottom: 30px;
        }
    }
    &__triger {
        background: #ffd704;
        border-radius: 20px;
        padding: 20px 30px;
        color: #000;
    }
}
