.sect7 {
    background: radial-gradient(50% 50% at 50% 50%, #012058 0%, #00173d 100%);

    &__main {
        padding: 62px 0;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 35px;
        margin-top: 0;
        font-weight: 600;
        color: #ffffff;
    }
    &__grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 295px;
        margin: 20px;
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        color: #fff;
        img {
            max-width: 108px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        b {
            font-size: 21px;
            margin-top: 19px;
            display: inline-block;
        }
    }
}
