.sect4 {
    background-image: url(./../../img/sect4-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__main {
        padding-bottom: 15px;
        padding-top: 65px;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 35px;
        margin-top: 0;
        font-weight: 600;
        color: #ffffff;
    }
    .item {
        background-image: url(./../../img/revi-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding: 35px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 414px;
        min-height: 533px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        padding-top: 60px;
        padding-bottom: 30px;
        .ava {
            max-width: 100px;
            width: 100%;
            margin-right: 20px;
            @include media-x-large {
                max-width: 90px;
            }
            @media (max-width: 400px) {
                max-width: 70px;
            }
        }
        .uzer {
            b {
                display: block;
            }
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        @include media-x-large {
            min-height: 500px;
            padding-bottom: 25px;
        }
        @media (max-width: 400px) {
            min-height: 450px;
            padding-bottom: 30px;
            .comm {
                p {
                    font-size: 15px;
                }
            }
        }
        @media (max-width: 360px) {
            min-height: 430px;
            padding-bottom: 40px;
            .comm {
                p {
                    font-size: 13px;
                }
            }
        }
    }
    .owl-drag .owl-dots {
        padding: 4px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 13px;
            height: 13px;
            border-radius: 100%;
            border: none;
            background: #fff;
            box-sizing: border-box;
            outline: none;
            margin: 0 0.1rem;
            &.active {
                background: #ffd704;
            }
        }
    }
}
