.sect2 {
    z-index: 1;
    box-sizing: border-box;

    background: radial-gradient(50% 50% at 50% 50%, #012058 0%, #00173d 100%);
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        padding: 40px 0;
        position: relative;
        height: 100%;
        @include media-sm-tablet {
            flex-direction: column;
            min-height: 395px;
        }
    }
    .text {
        background-image: url(./../../img/sect2-text-bg.svg);
        max-width: 427px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        padding: 10px 20px;
        padding-left: 40px;
        box-sizing: border-box;
        height: 85px;
        margin: 0;
        margin-left: -30px;
        font-size: 22px;
        position: relative;
        @include media-large {
            font-size: 18px;
        }
        @include media-lg-tablet {
            font-size: 15px;
        }
        @include media-tablet {
            padding: 15px;
            padding-left: 30px;
        }
        @include media-sm-tablet {
            background-color: #ffd704;
            background-image: none;
            max-width: 100%;
            height: 100%;
            padding-left: 20%;
            font-size: 25px;
        }
        @include media-phone {
            padding-left: 30%;
            font-size: 20px;
        }
        @include media-phone-med {
            padding-left: 35%;
            font-size: 18px;
        }
    }
    .fruit {
        max-width: 302px;
        width: 100%;
        @include media-large {
            max-width: 220px;
        }
        @include media-tablet {
            max-width: 160px;
        }
        @include media-sm-tablet {
            max-width: 230px;
            margin-top: 30px;
        }
        @include media-phone-med {
            max-width: 160px;
            margin-left: 20px;
        }
    }
    .prod {
        max-width: 462px;
        width: 100%;
        position: relative;
        z-index: 333;
        @include media-large {
            max-width: 320px;
        }
        @include media-lg-tablet {
            max-width: 280px;
        }
        @include media-tablet {
            max-width: 250px;
        }
        @include media-sm-tablet {
            display: none;
        }
    }
    .prod-mob {
        display: none;
        @include media-sm-tablet {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            z-index: 444;
            max-width: 200px;
            left: -28px;
            display: inline-block;
        }
        @include media-phone {
            max-width: 160px;
        }
    }
}
