.custom-social-proof {
    position: fixed;
    bottom: 130px;
    left: 20px;
    z-index: 9999999999999 !important;
}

.custom-social-proof .custom-notification {
    width: 320px;
    border: 0;
    text-align: left;
    z-index: 99999;
    box-sizing: border-box;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px rgba(11, 10, 10, 0.2);
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.custom-social-proof .custom-notification .custom-notification-container {
    display: flex !important;
    align-items: center;
    height: 80px;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-image-wrapper img {
    max-height: 75px;
    width: 45px;
    overflow: hidden;
    border-radius: 6px 0 0 6px;
    object-fit: cover;
    vertical-align: middle;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper {
    margin: 0;
    height: 100%;
    color: gray;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 0 6px 6px 0;
    flex: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content {
    font-family: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px;
    line-height: 16px;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content small {
    margin-top: 3px !important;
    display: block !important;
    font-size: 12px !important;
    opacity: 0.8;
}

/*#region footer */

.wisepops-root {
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-animation: zoomin 0.5s;
    animation: zoomin 0.5s;
}


.wisepops-root .cqRQEn {
    z-index: 1;
    pointer-events: auto;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 1px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(51, 51, 51) 0px 0px 0px 0px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(94, 94, 100);
    background-clip: padding-box;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    border-color: rgb(237, 237, 237);
    border-width: 1px;
    border-radius: 0px;
    transition: all 0.5s ease 0s;
    transform: translate(0px, 0px);
    opacity: 1;
}

.wisepops-root .fyqUCv {
    position: absolute;
    z-index: 200;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.wisepops-root .fkNnGr {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow: auto;
    flex: 1 1 auto;
    border-radius: 0px;
}

.wisepops-root .boVWwO {
    display: flex;
    box-sizing: border-box;
    position: relative;
    padding: 0px 20px;
    overflow: hidden;
    flex: 1 0 auto;
}

.wisepops-root .hCwzes {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex: 1 1 auto;
}

.wisepops-root .boVWwO > div:last-child {
    margin-bottom: 0px;
}

.wisepops-root .iELQYj {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 0;
    padding: 0px;
    flex: 0 1 8%;
    max-width: 20%;
}

.wisepops-root .dHHjmv {
    position: relative;
    width: 1px;
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
    flex: 0 0 auto;
}

.wisepops-root .eqAvkZ {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: transparent;
    max-width: 39%;
    z-index: 0;
    padding: 0px;
    flex: 0 1 39%;
}

.wisepops-root .iLzdUP {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
    background-image: none;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.wisepops-root .iELQYj > div.wisepops-blocks-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 1px;
    flex: 1 0 auto;
}

.wisepops-root .eqAvkZ > div.wisepops-blocks-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 1px;
    flex: 1 0 auto;
}

.wisepops-root .kfTgQJ {
    position: relative;
    min-height: 1px;
    transition: opacity 300ms ease 0s;
}

.wisepops-root .iDjiZL {
    width: 100%;
    text-align: center;
}

.wisepops-root .iDjiZL div {
    line-height: 0;
}

.wisepops-root .dHHjmv {
    position: relative;
    width: 1px;
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
    flex: 0 0 auto;
}

.wisepops-root .iCgeZS {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: transparent;
    max-width: 38%;
    z-index: 0;
    padding: 0px;
    flex: 0 1 38%;
}

.wisepops-root .iLzdUP {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
    background-image: none;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.wisepops-root .iCgeZS > div.wisepops-blocks-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 1px;
    flex: 1 0 auto;
}

.wisepops-root .cKRjAS {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.wisepops-root .VEpXU {
    width: 100%;
    height: auto;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
}

.wisepops-root .euvGbb {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.wisepops-root .jUBOSE {
    max-width: 100%;
    height: auto;
    position: relative;
    left: 0%;
    top: 5px;
    flex: 0 0 auto;
    width: 150px;
    vertical-align: bottom;
}

.wisepops-root .OWGeE {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    justify-content: center;
}

.wisepops-root .gSggUM {
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    word-break: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-style: normal;
    line-height: 1;
    width: 60%;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-color: #EB1701;
    text-decoration: none;
    padding: 16px 20px;
    border-color: rgb(255, 255, 255);
    border-width: 0px;
    border-radius: 4px;
}

.wisepops-root .eORIek {
    width: 1em;
    height: 1em;
    animation: 0.85s linear 0s infinite normal none running kwWELU;
}


.timer_txt {
    font-weight: 700;
    letter-spacing: normal;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.78);
    background-color: transparent;
    font-size: 14px;
    font-family: Roboto Slab;
}

.public-DraftStyleDefault-block {
    padding-left: 11px;
    font-size: 20px;
}

