
/******************не менять_начало**********************/
.flexslider {
    width: 780px;
	margin: 0px auto 0px auto;
	position: relative;
}

.flex-control-nav{
    display: none;
}

.slides {
    float: left;
}

.slides li {
    list-style: none;
}

.slides li .review {
    width: 100%;
}

.flex-next, .flex-prev {
    position: absolute;
    margin-top: -40px;
    text-indent: -9999999px;
}


/******************не менять_конец**********************/

.flexslider {
    width: auto;
}
.flex-next {
    background: url("../img/slider-arrow-right.png")/*tpa=http://a.economy-energi.com/img/slider-arrow-right.png*/ no-repeat center center;
    width: 22px;
    height: 47px;
    right: 0;
    top: 60%;
}

.flex-prev {
    width: 22px;
    height: 47px;
    left: 0;
    top: 60%;
}
@media screen and (max-width: 990px) {
    .flex-next {
        right: 30%;
        top: 23%;
    }

    .flex-prev {
        background: url("../img/slider-arrow-left.png")/*tpa=http://a.economy-energi.com/img/slider-arrow-left.png*/ no-repeat center center;
        left: 30%;
        top: 23%;
    }
}
@media screen and (max-width: 639px) {
    .flex-next {
        right: 12%;
        top: 14.5%;
    }

    .flex-prev {
        left: 12%;
        top: 14.5%;
    }
}