$accent: #FFAA00;
$yellow: #ffe500;
$dark: #2f2f2f;
$blue: #3d4770;

$light: #c7ebf5;
$grey: #f2f2f2;
$txt-light: #fee7e4;
$anim: all 0.5s ease;

// content
$content__width: 1171px;
$content__padding: 1rem;

@mixin content {
  padding: 0 $content__padding;
}

// position
@mixin flex($direction, $content: flex-start, $item: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $item;
  flex-wrap: $wrap;
}

@mixin grid($cols: 2, $gap: 0.2rem) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-gap: $gap;
}

@mixin transition() {
  transition: .3s ease all;
}
// Media queries
@mixin media-big {
  @media(max-width: 1360px) {
      @content;
  }
}
@mixin media-x-large {
  @media(max-width: 1280px) {
      @content;
  }
}

@mixin media-large {
  @media(max-width: 1150px) {
      @content;
  }
}


@mixin media-lg-tablet {
  @media(max-width: 950px) {
      @content;
  }
}

@mixin media-tablet {
  @media(max-width: 775px) {
      @content;
  }
}

@mixin media-sm-tablet {
  @media(max-width: 675px) {
      @content;
  }
}

@mixin media-phone {
  @media(max-width: 575px) {
      @content;
  }
}

@mixin media-phone-med {
  @media(max-width: 400px) {
      @content;
  }
}
