
.header-al__container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 1em;
}
.nav-al__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
}
.nav-al__link{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.header-al__burger{
  width: 35px;
  display: none;
}
.header-al__burger-line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.header-al__burger-line:not(:last-child){
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .header-al__nav{
    display: none;
  }
  .header-al__burger{
    display: block;
  }
  .header-al__search{
    margin-left: auto;
  }
}