body {
		margin: 0;
}

.container {
		width: 100%;
}
.container .wrapper {
		background: #BB271A;
		width: 100%;
}
.container .wrapper .wrapper-logo {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		max-width: 1400px;
		margin: 0 auto;
}
.container .wrapper .wrapper-logo .logo {
		padding: 5px 0;
		width: 100%;
}
.container .wrapper .wrapper-logo .logo .logo__link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 auto;
		width: 100%;
		max-width: 250px;
		height: auto;
}
.container .wrapper .wrapper-logo .logo .logo__link .img {
		width: 100%;
		max-width: 250px;
		margin-top: 5px;
}
.container .wrapper .wrapper-logo .menu-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		max-width: 280px;
		width: 100;
		margin-left: 0;
		margin-right: auto;
}
.container .wrapper .wrapper-logo .menu-top .menu-top__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-decoration: none;
		padding: 0 18px;
}
.container .wrapper .wrapper-logo .menu-top .menu-top__link:hover svg path {
		stroke: #000000;
		-webkit-transition: 1s;
		transition: 1s;
}
.container .wrapper .wrapper-logo .menu-top .menu-top__link:nth-child(3):hover svg path {
		stroke: #FFFFFF;
		-webkit-transition: 1s;
		transition: 1s;
}
.container .wrapper .wrapper-logo .menu-top .menu-top__link:first-child {
		color: #FFFFFF;
		font-size: 23px;
		line-height: 27px;
		font-weight: 400;
		text-transform: uppercase;
}
.container .wrapper .wrapper-logo .wrapper-logo__hamburger {
		width: 50px;
		height: 50px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-left: 10px;
}
.container .wrapper .wrapper-logo .wrapper-logo__hamburger .wrapper-logo__line {
		width: 40px;
		height: 2px;
		background: #FFFFFF;
		margin-bottom: 8px;
}
.container .wrapper .wrapper-logo .wrapper-logo__hamburger .wrapper-logo__line:nth-child(4) {
		margin-bottom: 0;
}
.container .wrapper .wrapper-logo .wrapper-logo__hamburger.active {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.container .wrapper .wrapper-logo .social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		max-width: 400px;
		width: 100%;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
}
.container .wrapper .wrapper-logo .social .social__link {
		height: 50px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 50px;
}
.container .wrapper .wrapper-logo .social .social__link:last-child {
		border: 2px solid #FFFFFF;
		color: #FFFFFF;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		text-decoration: none;
		max-width: 165px;
		width: 100%;
		height: 48px;
		margin: 0 10px;
}
.container .wrapper .wrapper-logo .social .social__link:last-child:hover {
		border: 2px solid #000000;
		-webkit-transition: 1s;
		transition: 1s;
}
.container .wrapper-menu {
		-webkit-box-shadow: 0 4px rgba(0, 0, 0, 0.25);
		        box-shadow: 0 4px rgba(0, 0, 0, 0.25);
}
.container .wrapper-menu .menu {
		max-width: 1350px;
		width: 100%;
		margin: 0 auto;
}
.container .wrapper-menu .menu .nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 12px 0;
}
.container .wrapper-menu .menu .nav .nav__icon {
		margin-left: 6%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 40px;
		height: 35px;
		background: #ffff;
		border-bottom: 5px solid #ED1C24;
}
.container .wrapper-menu .menu .nav .nav__icon img {
		width: 15px;
		height: 14px;
}
.container .wrapper-menu .menu .nav .nav__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		max-width: 1220px;
		width: 100%;
}
.container .wrapper-menu .menu .nav .nav__list .nav__item {
		list-style: none;
}
.container .wrapper-menu .menu .nav .nav__list .nav__item .nav__link {
		color: #000000;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 24px;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		text-decoration: none;
}
.container .wrapper-menu .menu .nav .nav__list .nav__item .nav__link:hover {
		color: #ED1C24;
		-webkit-transition: 0.5s;
		transition: 0.5s;
}
.container .wrapper-menu .social {
		display: none;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		max-width: 400px;
		width: 100%;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
}
.container .wrapper-menu .social .social__link {
		height: 50px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 50px;
}
.container .wrapper-menu .social .social__link:last-child {
		border: 2px solid #FFFFFF;
		color: #FFFFFF;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		text-decoration: none;
		max-width: 165px;
		width: 100%;
		height: 48px;
		margin: 0 10px;
}

/*Responsive*/
@media (max-width: 1200px) {
		.container .wrapper-logo .logo {
				margin-right: auto;
		}

		.container .wrapper-menu .menu .nav {
				display: none;
		}

		.container .wrapper .wrapper-logo .social {
				display: none;
		}

		.container .wrapper-menu .social {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				margin-left: auto;
				margin-right: 2%;
		}

		.container .wrapper-menu .menu {
				padding: 12px 0;
		}

		.container .wrapper-menu .social .social__link:last-child {
				border: 2px solid #000000;
				color: #000000;
		}
}
@media (max-width: 575px) {
		.container .wrapper .wrapper-logo .menu-top .menu-top__link:nth-child(2) {
				display: none;
		}

		.container .wrapper .wrapper-logo .menu-top .menu-top__link:nth-child(3) {
				display: none;
		}

		.container .wrapper-menu .menu .nav .nav__icon {
				margin-left: 3%;
		}
}
@media (max-width: 480px) {
		.container .wrapper .wrapper-logo .menu-top .menu-top__link:first-child {
				display: none;
		}

		.container .wrapper .wrapper-logo .logo .logo__link {
				max-width: 180px;
		}

		.container .wrapper-menu .social .social__link:last-child {
				max-width: 145px;
				margin: 0 5px;
		}
}