
#order_form {
    background: white;
    padding: 35px 15px;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-image: url(../images/bg-phone.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

/* .timer {
    display: inline-block;
    margin-bottom: 5px;
    background: url(../images/timerIcon2.png) no-repeat;
    padding-left: 14px;
    color: red;
} */

@media (min-width: 600px) and (max-width: 739px) {
    #order_form {
        padding: 20px !important;
        /* margin: 0px -12px !important; */
        /* padding-bottom: 116px !important; */
        /*margin-bottom: -170px !important;*/
    }
}

@media (min-width: 460px) and (max-width: 599px) {
    #order_form {
        /* padding: 20px !important;
        margin: 0px -26px !important;
        padding-bottom: 160px !important; */
        /*margin-bottom: -190px !important;*/
    }
}

/*#order_form div {
    background:none;
}*/

#order_form h2 {
    margin: 25px 0 0 0;
    padding: 0px;
    line-height: 32px;
    border: none;
}

#order_form label {
    display: block;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 16px;
}

#order_form .order_form_pole {
    padding: 10px;
    
}

#order_form input {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 100%;
}

#order_form span {
    font-size: 12px;
}

#order_form button,
.obutton {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

#order_form button:hover,
.obutton:hover {
    background-color: #017ACC;
}

#order_form button:active {
    position: relative;
    top: 1px;
}

.order_info h2 {
    border: none !important;
    color: red !important;
}

.left_count {
    background: red;
    padding: 23px;
    margin: 12px 0px;
    width: 178px;
    color: #fff;
    text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 32px !important;
    border-radius: 5px;
}

.left_count .prod_left_val {
    font-size: 52px !important;
}

@media screen and (max-width: 480px) {
    #order_form input {
    }

    #order_form label {
        font-size: 14px;
    }

    #order_form button {
        font-size: 16px;
    }

    #order_form {
        padding: 30px 10px; 
        padding-bottom: 18px;
        margin: 0px;
    }

    #order_form .order_form_pole {
        padding: 0px;
        margin: 2px;
    }
}

@media screen and (max-width: 459px) {
    #order_form input {
        width: 80%;
    }

    /* #order_form {
        margin-left: -20px;
        margin-right: -20px;
    } */
}

@media screen and (max-width: 349px) {
    #order_form input {
        font-size: 17px;
    }

    #order_form button {
        margin-left: 0px;
    }
}

/*------------------------------SALE-------------------------------*/
.sale {
    margin-top: 20px;
}

.sale__top-bar {
    text-align: justify;
    font-size: 0;
    padding: 0 30px;
}

.sale__top-bar::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.sale__logo,
.sale__title {
    display: inline-block;
    vertical-align: top;
}

.sale__logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.sale__logo-image {
    max-width: 100%;
}

.sale__title {
    width: calc(100% - 100px - 10px);
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.sale__content {
    text-align: justify;
    font-size: 0;
    padding: 0 60px;
}

.sale__content::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.sale__text,
.sale__product {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    line-height: 1;
    vertical-align: top;
}

.sale__product {
    width: 245px;
}

.sale__product {
    text-align: center;
}

.sale__product-image {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block !important;
}

.sale__paragraph-wrapper {
    position: relative;
    text-align: justify;
    width: 100%;
    min-width: 408px;
    height: 150px;
    margin: 0;
    font-size: 0;
}

.sale__paragraph,
.sale__paragraph-abbr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    background-color: #ecf601;
    color: #312fce;
}

.sale__paragraph {
    left: 0;
    width: calc(100% - 100px);
    padding: 20px 15px 20px 50px;
    font-size: 32px !important;
}

.sale__paragraph-abbr {
    box-sizing: border-box;
    right: 0;
    font-size: 82px !important;
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: 150px;
    padding-top: 63px;
    border-radius: 50%;
    text-transform: uppercase;
}

.sale__price-wrapper {
    position: relative;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 20px;
    border: 2px dashed #000000;
}

.sale__price-wrapper::before,
.sale__price-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
}

.sale__price-wrapper::before {
    top: -15px;
    left: 10px;
}

.sale__price-wrapper::after {
    bottom: -15px;
    right: 10px;
    transform: rotate(180deg);
}

.sale__price {
    font-size: 38px;
    line-height: 1.5;
    font-weight: 700;
}

.sale__price--old {
    font-size: 32px;
}

.sale__price--new {
    color: #ff0000;
}

.sale__product {
    position: relative;
}

.sale__product::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 70px;
    left: calc(50% - 333px);
    width: 210px;
    height: 109px;
    background-size: contain;
}


@media (max-width: 800px) {
    .sale__text,
    .sale__product {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .sale__price-wrapper {
        box-sizing: border-box;
        display: block;
        max-width: 150px;
        margin: 0 auto;
    }

    .sale__product {
        margin-top: 15px;
    }
}

@media (max-width: 695px) {
    .sale__product::before {
        display: none;
    }
}

@media (max-width: 550px) {
    .sale__top-bar {
        padding: 0 10px;
    }

    .sale__content {
        padding: 0;
    }

    .sale__logo,
    .sale__title {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .sale__title {
        margin-top: 15px;
    }

    .sale__logo-image {
        margin: 0 auto !important;
    }
}

@media (max-width: 420px) {
    .sale__paragraph-wrapper {
        min-width: 280px;
        height: 100px;
    }

    .sale__paragraph {
        width: calc(100% - 100px);
        font-size: 24px !important;
    }

    .sale__paragraph-abbr {
        font-size: 42px !important;
        width: 100px;
        height: 100px;
        padding-top: 36px;
    }
}

.help {
    display: none;
    position: absolute;
    top: -33px;
    left: 0;
    background: red;
    background-color: rgb(231, 76, 60);
    border: 1px dashed black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 3px 0px 0px;
    padding: 6px 8px 6px;
}

input:focus + .help {
    display: block;
}

.price {
    color: red;
    font-weight: 700;
}
