body{
    margin: 0;
}
.container{
    width: 100%;
    .wrapper-logo{
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: space-around;
        .logo{
            background: #FFFF;
            padding:12px 0;
            max-width: 114px;
            width: 100%;
            .logo__link{
                max-width:310px;
                width: 100%;
                margin-left: 2%;
                margin-right: auto;
                .img{
                    width: 100%;
                    max-width: 326px;
                }
            }
        }
        .wrapper-logo__hamburger{
            width: 40px;
            height: 40px;
            background:#FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            margin: 0 5px 5px 5px;
            .wrapper-logo__line{
                width: 24px;
                height: 1px;
                background:#000000;
                margin-bottom: 8px;
                &:nth-child(3){
                    margin-bottom: 0;
                }
            }
        }
        .wrapper-logo__hamburger.active{
            display: flex;
        }
        .menu{
            max-width: 550px;
            width: 100%;
            margin: 0 auto 0 2%;
            .nav{
                display: flex;
                align-items: center;
                padding: 12px 0;
                .nav__list{
                    display: flex;
                    align-items:center;
                    justify-content: space-between;
                    max-width: 1150px;
                    width: 100%;
                    .nav__item{
                        list-style: none;
                        .nav__link{
                            color:#000000;
                            text-transform: uppercase;
                            font-size: 16px;
                            line-height: 20px;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                            text-decoration: none;
                            letter-spacing: 0.1em;
                            &:hover{
                                color:#ED1C24;
                            }
                        }
                    }
                }
            }
        }
        .menu-top{
            display:flex;
            align-items:center;
            justify-content: space-between;
            .menu-top__link{
                font-weight: 300;
                color: #000000;
                font-size: 16px;
                line-height: 24px;
                text-decoration: none;
                padding: 0 10px;
                letter-spacing: 0.1em;  
            }
            .menu-top__link:first-child{
                background:#FDF5F2;
                font-weight: 500;
                border:1px solid #DB337B;
                color:#000000;
                padding: 5px 26px; 
            }
        }
    }
    .wrapper-menu{
        border-top: 1px solid #DB337B;
        .menu-top{
            display:none;
            align-items:center;
            justify-content: space-between;
            .menu-top__link{
                font-weight: 300;
                color: #000000;
                font-size: 16px;
                line-height: 24px;
                text-decoration: none;
                padding: 0 10px;
                letter-spacing: 0.1em;  
            }
            .menu-top__link:first-child{
                background:#FDF5F2;
                font-weight: 500;
                border:1px solid #DB337B;
                color:#000000;
                padding: 5px 26px; 
            }
        }
    }
}

/*Responsive*/
@media (max-width: 1200px){
    .container .wrapper-menu .menu-top{
        display: flex;
        max-width: 230px;
        margin-left: auto;
    }
    .container .wrapper-menu{
        padding: 15px;
        border-bottom: 1px solid #D3D3D3;
    }
    .container .wrapper-menu .menu .menu-top{
        max-width: 370px;
        margin-left: auto;
        margin-right: 1%;
        display: flex;
    }
    .container .wrapper-menu .menu .nav .nav__list{
        display: none;
    }
    .container .wrapper-logo .menu-top{
        display: none;
    }
    .container .wrapper-menu .menu .nav__hamburger{
        display: flex;
        margin-left: auto;
        margin-right: 2%;
    }
    .container .wrapper-logo .logo{
        margin-right: auto;
    }
    .container .wrapper-logo .menu .nav .nav__list{
        padding: 0;
    }
}
@media (max-width: 575px){
    .container .wrapper-logo .menu .nav .nav__list .nav__item:nth-child(4){
        display: none;
    }
    .container .wrapper-logo .menu .nav .nav__list .nav__item:nth-child(5){
        display: none;
    }
    .container .wrapper-logo .menu .nav{
        max-width: 230px;
    }
    .container .wrapper-menu .menu .nav .nav__icon{
        margin-left:3%;
    }
    .container .wrapper-logo .logo img{
        max-width: 219px;
    }
    .container .wrapper-logo .menu{
        margin-right: 1%;
        margin-left: 20%;
    }
}
@media (max-width: 480px){
    .container .wrapper-logo .menu .nav .nav__list{
        padding: 0;
    }
    
    .container .wrapper-logo .logo{
        max-width: 114px;
    }
    .container .wrapper-logo .menu{
        margin-left: 5%;
    }
    .container .wrapper-logo .wrapper-logo__hamburger{
        display: none;
    }
}
@media (max-width: 380px){
    .container .wrapper-logo .menu{
        margin-left: 1%;
    }
}