html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  height: 100%;

  @media (max-width: 460px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  font-size: 16px;

  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: $content__width;
  width: 100%;
  padding: 0 0.3rem;
  margin: 0 auto;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1.25;
  font-family: "Roboto Slab", serif;
  color: #063273;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
  @media (max-width: 600px) {
    font-size: 28px;
  }
  &.max {
    font-size: 50px;
    @media (max-width: 600px) {
      font-size: 42px;
    }
  }
  &.white {
    color: #fff;
  }
  &.left {
    text-align: left;
  }
}

.btn {
  width: 100%;
  text-align: center;
  color: #000;
  height: 77px;
  max-width: 347px;
  text-align: center;
  margin: 0 auto;
  @include flex(row, center, center);
  font-size: 17px;
  border: none;
  font-weight: bold;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s ease all;
  background: linear-gradient(180deg, #fddb3d 0%, #ffc205 100%);
  border: 4.38172px solid #fddd4a;
  box-sizing: border-box;
  border-radius: 4.38172px;
  span {
    margin-right: 20px;
  }
  &:hover {
    opacity: 0.8;
  }
  @media (max-width: 500px) {
    font-size: 16px;
  }
}

.img {
  position: relative;
  @include flex(column, center, center);
  &.center {
    margin: 0.8rem auto;
  }

  p {
    color: #707070;
    font-size: 1.1rem;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 1rem;
    max-width: 390px;
    text-align: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.55);
  display: none;
  animation: show 0.4s ease;

  &.active {
    display: block;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  margin: 0;
  padding-left: 1rem;

  li {
    font-style: italic;
  }
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 347px;
  width: 100%;
  justify-content: center;
  align-items: center;
  input {
    width: 100%;
    height: 62px;
    background: #ffffff;
    border: none;
    outline: none;
    opacity: 0.9;
    border-radius: 33.8994px;
    margin-bottom: 15px;
    font-size: 17px;
    padding: 0 36px;
    &::placeholder {
      color: #a7a7a7;
      font-size: 17px;
    }
  }
}
