@import "var";
@import "most";
@import "timer";
// components
@import "components/header";
@import "components/intro";
@import "components/sect1";
@import "components/sect2";
@import "components/sect3";
@import "components/sect4";
@import "components/sect5";
@import "components/sect6";
@import "components/sect7";
.main {
  width: 100%;
  position: relative;
  @media (max-width: 900px) {
    display: block;
  }
}