body{
    margin: 0;
}
.container{
    width: 100%;
    .wrapper-logo{
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: space-around;
        .logo{
            background: #FFFF;
            padding:22px 0;
            max-width: 326px;
            width: 100%;
            .logo__link{
                max-width:310px;
                width: 100%;
                margin-left: 2%;
                margin-right: auto;
                .img{
                    width: 100%;
                    max-width: 326px;
                }
            }
        }
        .menu-top{
            display: flex;
            align-items:center;
            justify-content: space-between;
            .menu-top__link{
                font-weight: 500;
                color: #BB271A;
                font-size: 16px;
                line-height: 24px;
                text-decoration: none;
                padding: 0 18px;
                border-right: 1px solid #D3D3D3;
                
            }
            .menu-top__link:first-child{
                color:#000000;
                border-right: 1px solid #D3D3D3;
                
            }
            .menu-top__hamburger{
                width: 40px;
                height: 40px;
                background:#FFFFFF;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items:center;
                margin-left: 10px;
                .menu-top__line{
                    width: 24px;
                    height: 1px;
                    background:#000000;
                    margin-bottom: 8px;
                    &:nth-child(3){
                        margin-bottom: 0;
                    }
                }
            }
            .menu-top__hamburger.active{
                display: flex;
            }
        }
        
    }
    .wrapper-menu{
        border-top: 1px solid #D3D3D3;
        .menu{
            max-width: 1400px;
            width: 100%;
            margin: 0 auto;
            .nav{
                display: flex;
                align-items: center;
                padding: 12px 0;
                .nav__icon{
                    margin-left: 6%;
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    width: 40px;
                    height: 35px;
                    background:#ffff;
                    border-bottom: 5px solid #ED1C24;
                    img{
                        width: 15px;
                        height: 14px;
                    }
                }
                .nav__list{
                    display: flex;
                    align-items:center;
                    justify-content: space-between;
                    max-width: 1150px;
                    width: 100%;
                    .nav__item{
                        list-style: none;
                        .nav__link{
                            color:#000000;
                            text-transform: uppercase;
                            font-size: 16px;
                            line-height: 24px;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                            text-decoration: none;
                            &:hover{
                                color:#ED1C24;
                            }
                        }
                    }
                }
            }
            .menu-top{
                display: none;
                align-items:center;
                justify-content: space-between;
                .menu-top__link{
                    font-weight: 500;
                    color: #BB271A;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration: none;
                    padding: 0 10px;
                    border-right: 1px solid #D3D3D3;
                    
                }
                .menu-top__link:first-child{
                    color:#000000;
                    border-right: 1px solid #D3D3D3;
                    
                }
                .menu-top__hamburger{
                    width: 40px;
                    height: 40px;
                    background:#FFFFFF;
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    align-items:center;
                    margin-left: 5px;
                    .menu-top__line{
                        width: 24px;
                        height: 1px;
                        background:#000000;
                        margin-bottom: 8px;
                        &:nth-child(3){
                            margin-bottom: 0;
                        }
                    }
                }
                .menu-top__hamburger.active{
                    display: flex;
                }
            }
        }
    }
}

/*Responsive*/
@media (max-width: 1200px){
    .container .wrapper-menu .menu .menu-top{
        max-width: 370px;
        margin-left: auto;
        margin-right: 1%;
        display: flex;
    }
    .container .wrapper-menu .menu .nav .nav__list{
        display: none;
    }
    .container .wrapper-logo .menu-top{
        display: none;
    }
    .container .wrapper-menu .menu .nav__hamburger{
        display: flex;
        margin-left: auto;
        margin-right: 2%;
    }
    .container .wrapper-logo .logo{
        margin-right: auto;
    }
}
@media (max-width: 575px){
    .container .wrapper-menu .menu .nav .nav__icon{
        margin-left:3%;
    }
    .container .wrapper-logo .logo img{
        max-width: 219px;
    }
}