@import url("css2.css");
:root {
    --powder-color: #d1b192;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

input,
button {
    border: none;
}

input,
label {
    display: block;
}

a {
    text-decoration: none;
}

body {
    max-width: 480px;
    min-width: 375px;
    margin: 0 auto;
}

section {
    width: 100%;
}

.wrapper {
    padding: 0 25px;
}

.header {
    width: 100%;
    height: 55px;
    background-color: var(--powder-color);
}

.header__title {
    font-size: 21px;
    line-height: 25px;
    color: #fffcfc;
    font-weight: normal;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale {
    transform: rotate(-2.65deg);
    position: relative;
}

.sale__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
}

.sect1,
.sect3 {
    position: relative;
    margin-bottom: 30px;
}

.sect1__img,
.sect3__img {
    width: 100%;
    background-position: center center;
    background-size: cover;
    margin-top: 50px;
}

.txt {
    position: absolute;
    top: 20px;
    right: 5px;
    text-align: right;
    text-transform: uppercase;
}

.txt__text-bold {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.txt__text-middle {
    display: inline-block;
    margin-top: 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.txt__text-pinkBckg {
    display: inline-block;
    margin-top: 3px;
    background-color: #d49090;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    padding: 3px 5px;
}

.price {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.price__old {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #6d6d6d;
    margin-right: 10px;
}

.price__new {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #d49090;
}

.btn {
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 50px;
    background-color: #d49090;
    border-radius: 9px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
}

.sect2 {
    background-color: #3d3939;
}

.sect2__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: right;
    color: #ffffff;
    text-align: right;
    padding-top: 26px;
}

.sect2 .wrapper {
    padding: 26px;
}

.property {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}

.property__text {
    text-align: right;
    margin-right: 15px;
    align-self: center;
}

.property__text-inner--title {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #ffffff;
}

.property__text-inner--text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.4;
    text-align: right;
    font-weight: 500;
}

.powder {
    color: var(--powder-color);
}

.aqua {
    color: #c0d9fd;
}

.light-powder {
    color: #e7d8d8;
}

.black {
    color: black;
}

.sect3__txt {
    position: absolute;
    top: 60px;
    right: 10px;
}

.sect3__txt__text {
    font-size: 21px;
    line-height: 25px;
    text-align: right;
    color: #535353;
    font-weight: 500;
}

.sect3 .wrapper {
    padding: 25px;
}

.sect3 .wrapper p {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.sect4 {
    background-color: #ADB3B8;
}

.sect4 .wrapper {
    padding: 15px 15px 25px;
    margin: 0 auto;
    text-align: center;
}

.sect4__title {
    text-align: center;
    color: white;
    line-height: 1.5;
}

.sect4__text {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFF7F7;
    text-align: left;
    margin-top: 10px;
    padding-left: 80px;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    width: 170px;
    padding: 5px 15px;
    background: #F44336;
    border-radius: 9px;
    margin: 30px auto 0;
}

.sect5 {
    position: relative;
    margin-bottom: 30px;
}

.sect5 .txt {
    right: 10px;
}

.skidka {
    margin-top: 20px;
}

.form {
    margin: 20px auto;
    width: 280px;
}

.form__input {
    width: 100%;
    height: 52px;
    background-color: #D1D1D1;
    border-radius: 9px;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 21px;
    color: #636363;
    margin-bottom: 30px;
    outline: none;
}
.form-text{
    margin-bottom: 10px;
    padding-left: 5px;
}
.footer {
    background-color: #D1D1D1;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.footer .wrapper {
    padding: 0px;
}

.footer__txt1 {
    color: #DA5950;
}

.footer__txt2 {
    margin-top: 35px;
}

.footer__txt2 a {
    color: black;
}

.footer__txt3 {
    margin-top: 15px;
}

.footer__txt4 {
    font-weight: bold;
    margin-top: 15px;
}

.footer__txt5 {
    font-weight: bold;
    margin-top: 15px;
}

.footer__txt5 a {
    color: black;
}

.links {
    margin-top: 30px;
    font-weight: bold;
    line-height: 1.5;
}

.links a {
    color: black;
}

.gif {
    width: 100%;
}

.sect1_2 {
    margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */