@charset "UTF-8";
* {
		margin: 0;
		padding: 0;
		font-size: 16px;
		font-weight: 400;
		font-family: "Open Sans";
		border: 0;
}

html {
		scroll-behavior: smooth;
}

nav, footer, header {
		display: block;
}

button {
		font-family: "Roboto";
		cursor: pointer;
}

a:focus, a:active {
		outline: none;
}

a {
		text-decoration: none;
}

a:hover {
		text-decoration: none;
		opacity: 0.8;
}

ul, li, ol {
		list-style: none;
}

input {
		outline: none;
		border: none;
}

h1, h2, h3, h4, h5, h6, p {
		margin: 0;
		padding: 0;
}

input:focus::-webkit-input-placeholder {
		color: transparent;
}

input:focus:-moz-placeholder {
		color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
		color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
		color: transparent;
}

/* IE 10+ */
/*Цвет placeholder поиска*/
.search__input::-webkit-input-placeholder {
		color: #C4C4C4;
}

.search__input::-moz-placeholder {
		color: #C4C4C4;
}

/* Firefox 19+ */
.search__input:-moz-placeholder {
		color: #C4C4C4;
}

/* Firefox 18- */
.search__input:-ms-input-placeholder {
		color: #C4C4C4;
}

/*Цвет placeholder textarea*/
textarea:focus::-webkit-input-placeholder {
		color: transparent;
}

textarea:focus:-moz-placeholder {
		color: transparent;
}

/* FF 4-18 */
textarea:focus::-moz-placeholder {
		color: transparent;
}

/* FF 19+ */
textarea:focus:-ms-input-placeholder {
		color: transparent;
}

/* IE 10+ */
/*Обнуленный letter-spacing*/
/*margin-left*/
.header {
		padding: 16px 0 10px 0;
}
.header nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-left: 113px;
}
.header nav .mobail-menu {
		display: none;
}
.header nav .logo {
		max-width: 192px;
		min-height: 64px;
}
.header nav .nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		min-height: 17px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.header nav .nav .menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-left: 214px;
}
.header nav .nav .menu .menu__item .menu__link {
		font-family: "Merriweather";
		color: #8E8E8E;
		font-size: 13px;
		line-height: 21px;
		font-weight: 400;
		letter-spacing: 0;
		text-transform: uppercase;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.header nav .nav .menu .menu__item .menu__link img {
		margin-left: 2px;
}
.header nav .nav .menu .menu__item:not(:first-child) {
		margin-left: 13px;
}
.header nav .nav .menu .menu__item:last-child {
		margin-left: 22px;
}

.sect1 {
		padding: 57px 0 72px 0;
		background: url("../img/main.png") no-repeat top;
}
.sect1 div .sect1__header {
		max-width: 555px;
		font-weight: 800;
		font-size: 40px;
		line-height: 54px;
		color: #FFFFFF;
		padding-right: 8%;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sect1 div span {
		color: #FFFFFF;
		max-width: 460px;
		margin-top: 27px;
		font-weight: 700;
		padding-right: 15%;
		font-size: 25px;
		line-height: 34px;
		font-style: italic;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.offer {
		padding-top: 17px;
}
.offer .search {
		margin-left: auto;
		margin-right: 111px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		border: 1px solid #D0D0D0;
		border-radius: 5px;
		max-width: 295px;
		width: 100%;
		padding: 15px 18px 15px 20px;
}
.offer .search .search__input {
		font-family: "Roboto";
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		width: 100%;
}
.offer .news {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0;
		max-width: 335px;
		width: 100%;
		letter-spacing: 0;
		margin-top: 10px;
}
.offer .news .news__head {
		position: relative;
		font-weight: 700;
		color: #252323;
		letter-spacing: 0;
		padding-bottom: 9px;
		line-height: 24px;
}
.offer .news .news__title {
		padding: 4px 0 7px 0;
}
.offer .news .news__title .news__link {
		position: relative;
		color: #252323;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0;
		display: block;
}
.offer .news:nth-child(3) {
		margin: 30px 0 0 0;
}
.offer .offer__image {
		display: block;
		max-width: 280px;
}
.offer .offer__image:nth-child(4) {
		margin-top: 20px;
}
.offer .offer__image:nth-child(6) {
		margin-top: 35px;
}
.offer .offer__image:nth-child(8) {
		margin-top: 35px;
}
.offer .offer__post {
		margin-top: 10px;
		font-size: 14px;
		line-height: 18px;
		max-width: 335px;
}
.offer .offer__post a {
		font-size: 12px;
		line-height: 18px;
		color: #60C9E9;
		text-decoration: underline;
}
.offer .offer__post:nth-child(9) {
		max-width: 320px;
}
.offer .content {
		padding-left: 18%;
}
.offer .content .content__text {
		font-size: 14px;
		line-height: 13px;
		color: #828282;
		font-weight: 400;
		border-right: 1px solid #8C8C8C;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		max-width: 300px;
}
.offer .content .content__text span {
		color: #8C8C8C;
		border-left: 1px solid #8C8C8C;
		padding-left: 4px;
		margin: 0 5px;
		font-weight: 700;
		font-size: 14px;
		line-height: 13px;
		display: block;
}
.offer .content .content__head {
		font-size: 40px;
		line-height: 47px;
		font-weight: 500;
		letter-spacing: 0;
		margin: 14px 0 13px 0;
		max-width: 915px;
}
.offer .content a {
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		color: #000000;
		letter-spacing: 0;
}
.offer .content a span {
		font-size: 14px;
		line-height: 16px;
		font-weight: 400;
		color: #828282;
		margin-right: 5px;
		letter-spacing: 0;
}
.offer .offer__title {
		font-style: italic;
		font-weight: 700;
		font-size: 25px;
		line-height: 34px;
		margin-top: 42px;
		padding-left: 2.1%;
}
.offer .offer__title span {
		text-decoration: underline;
		font-style: italic;
		font-weight: 700;
		font-size: 25px;
		line-height: 34px;
}
.offer .offer__intro {
		margin: 30px 0 0 0;
		line-height: 22px;
		max-width: 910px;
		padding-left: 2%;
}
.offer .offer__intro a {
		text-decoration: underline;
		font-size: 16px;
		line-height: 22px;
		color: #255F7E;
}
.offer .offer-info {
		margin: 42px 0 0 0;
		padding-left: 2%;
}
.offer .offer-info .offer-info__header {
		font-weight: 700;
		line-height: 22px;
		margin-bottom: 30px;
}
.offer .offer-info .offer-info__header span {
		font-weight: 700;
		line-height: 22px;
		text-decoration: underline;
}
.offer .offer-info .offer-info__text {
		margin-top: 34px;
		line-height: 22px;
		max-width: 847px;
}
.offer .offer-info .offer-info__text a {
		text-decoration: underline;
		font-size: 16px;
		line-height: 22px;
		color: #255F7E;
}
.offer .offer-info .offer-info__text span {
		font-size: 16px;
		line-height: 22px;
		font-weight: 700;
}
.offer .offer-info .offer-info__content {
		margin-top: 21px;
		line-height: 22px;
		max-width: 890px;
}
.offer .offer-info .offer-info__content a {
		text-decoration: underline;
		font-size: 16px;
		line-height: 22px;
		color: #255F7E;
}
.offer .offer-info .offer-info__link {
		display: block;
		margin-top: 34px;
		position: relative;
}
.offer .offer-info .offer-info__link .offer-info__icon {
		max-width: 151px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		width: 100%;
		left: 28%;
		bottom: 6%;
		background: none;
}
.offer .offer-info .offer-info__link .offer-info__icon div:nth-child(1) {
		background: #FFFFFF;
		color: #000000;
		max-width: 73px;
		min-height: 23px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0;
}
.offer .offer-info .offer-info__link .offer-info__icon div:nth-child(2) {
		background: #1DA1F2;
		color: #FFFFFF;
		max-width: 78px;
		width: 100%;
		min-height: 23px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0;
}
.offer .offer-info .offer-info__link div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		line-height: 22px;
		width: 100%;
		font-weight: 700;
		color: #000000;
		position: absolute;
}
.offer .offer-info .offer-info__link .offer-info__div1 {
		top: 33px;
		left: 5%;
		min-height: 25px;
		max-width: 75px;
		background: #E6E6E6;
}
.offer .offer-info .offer-info__link .offer-info__div2 {
		bottom: 4%;
		left: 19%;
		min-height: 25px;
		max-width: 75px;
		background: #E6E6E6;
}
.offer .offer-info .offer-info__link .offer-info__div3 {
		top: 6%;
		left: 15%;
		min-height: 25px;
		max-width: 75px;
		background: #E6E6E6;
}
.offer .offer-info .offer-info__link .offer-info__text {
		max-width: 200px;
		line-height: 19px;
		top: -2%;
		left: 23.3%;
		letter-spacing: -0.08em;
}
.offer .offer-info .offer-info__link .offer-info__text2 {
		max-width: 200px;
		line-height: 19px;
		top: 7%;
		left: 63%;
		letter-spacing: -0.08em;
}
.offer .offer-info .offer-info__link .offer-info__text3 {
		max-width: 200px;
		line-height: 19px;
		bottom: 23%;
		left: 8%;
		letter-spacing: -0.08em;
}
.offer .offer-info .offer-info__link .offer-info__text4 {
		max-width: 200px;
		line-height: 19px;
		bottom: 16%;
		left: 48%;
		letter-spacing: -0.08em;
}
.offer .offer-info .offer-info__link img {
		display: block;
		margin-left: auto;
		margin-right: 13%;
}
.offer .offer-info .offer-info__link .offer-info__img1 {
		position: relative;
}
.offer .offer-info .offer-info__link .offer-info__img2 {
		position: relative;
		margin-right: 17%;
}
.offer .offer-info .offer-info__link .offer-info__img3 {
		position: relative;
		margin-right: 13%;
}
.offer .offer-info .offer-info__link .offer-info__img4 {
		margin-right: 4.7%;
		margin-top: 30px;
}
.offer .offer-info .offer-info__span {
		font-style: italic;
		line-height: 22px;
		color: #717171;
		display: block;
		text-align: center;
		margin-right: 15px;
		margin-top: 17px;
}
.offer .offer-info .offer-info__desc {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: -46px;
		max-width: 930px;
		padding-left: 90px;
}
.offer .offer-info .offer-info__desc span {
		font-size: 20px;
		line-height: 28px;
		font-weight: 700;
		display: block;
		z-index: 4;
}
.offer .offer-info .offer-info__desc span:nth-child(1) {
		max-width: 190px;
		text-align: center;
		padding-right: 25px;
}
.offer .offer-info .offer-info__desc span:nth-child(2) {
		max-width: 300px;
		text-align: center;
		margin-left: 54px;
}
.offer .offer-info .offer-wrap {
		max-width: 784px;
		background: #EBEBEB;
		margin: 30px 0 35px 25px;
		padding: 24px 60px 30px 20px;
}
.offer .offer-info .offer-wrap ul li {
		line-height: 22px;
}
.offer .offer-info .offer-wrap ul li span {
		font-weight: 700;
		margin-left: 33px;
}
.offer .offer-info .offer-wrap ul li a {
		font-size: 16px;
		line-height: 22px;
		color: #255F7E;
		text-decoration: underline;
}
.offer .offer-info .offer-info__description {
		font-style: italic;
		line-height: 22px;
		color: #717171;
		padding-left: 15%;
		padding-right: 16%;
		text-align: center;
		display: block;
		margin-top: 27px;
		max-width: 930px;
}
.offer .offer-info .offer-info__description span {
		color: #000000;
		font-weight: 500;
}
.offer .offer-info .offer-info__list {
		line-height: 22px;
		font-size: 16px;
		position: relative;
		margin: 0 0 30px 10px;
		padding-top: 1px;
}
.offer .offer-info .offer-info__list ul {
		margin-left: 11px;
}
.offer .offer-info .offer-info__list ul li {
		font-weight: 600;
		font-style: italic;
		position: relative;
		display: block;
		padding-left: 10px;
		line-height: 22px;
}
.offer .offer-info .offer-info__list ul li u {
		font-weight: 600;
		font-style: italic;
		line-height: 22px;
}
.offer .offer-info .offer-info__list ul li:before {
		position: absolute;
		content: "·";
		left: -24px;
		display: block;
		color: #000000;
}
.offer .offer-info .offer-info__list::before {
		position: absolute;
		content: "-";
		left: -14px;
		top: 5px;
		display: block;
		color: #000000;
}
.offer .offer-info .offer-info__items {
		margin-top: 41px;
}
.offer .offer-info .offer-info__items ul li {
		list-style: inherit;
		font-style: italic;
		line-height: 22px;
}
.offer .offer-info .offer-info__items ul li a {
		text-decoration: underline;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: #255F7E;
}
.offer .offer-info .offer-info__section {
		font-weight: 400;
		line-height: 22px;
		margin-top: 42px;
		margin-bottom: 20px;
		max-width: 685px;
		text-align: center;
}
.offer .offer-info .offer-info__section span {
		font-weight: 700;
}
.offer .offer-info:nth-child(4) .offer-info__text:nth-child(5) {
		margin-top: 41px;
}
.offer .offer-info:nth-child(4) .offer-info__text:nth-child(6) {
		margin-top: 21px;
}
.offer .offer-info:nth-child(4) .offer-info__text:nth-child(7) {
		margin-top: 23px;
}
.offer .offer-info:nth-child(4) .offer-info__link:nth-child(8) {
		margin-top: 33px;
}
.offer .offer-info:nth-child(5) {
		margin: 45px 0 0 0;
}
.offer .offer-info:nth-child(5) .offer-info__header {
		margin-bottom: 0;
}
.offer .offer-info:nth-child(5) .offer-wrap {
		margin: 20px 0 35px 0;
		padding: 24px 30px 30px 35px;
}
.offer .offer-info:nth-child(5) .offer-wrap ul li {
		line-height: 22px;
}
.offer .offer-info:nth-child(5) .offer-wrap ul li span {
		font-weight: 700;
		margin-left: 30px;
}
.offer .offer-info:nth-child(5) .offer-wrap ul li a {
		font-size: 16px;
		line-height: 22px;
		color: #2D5F9A;
		text-decoration: underline;
}
.offer .offer-info:nth-child(5) .offer-wrap ul li:not(:first-child) {
		margin-top: 10px;
}
.offer .offer-info:nth-child(5) .offer-wrap .offer-images {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-top: 26px;
}
.offer .offer-info:nth-child(5) .offer-wrap .offer-images a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
.offer .offer-info:nth-child(5) .offer-wrap .offer-images a .offer-images__pic {
		max-width: 121px;
		max-height: 121px;
		height: 100%;
		border-radius: 80px;
}
.offer .offer-info:nth-child(5) .offer-wrap .offer-images a span {
		margin-top: 7px;
		font-style: italic;
		font-size: 16px;
		line-height: 22px;
		color: #000000;
}
.offer .offer-info:nth-child(5) .offer-wrap .offer-images a:not(:first-child) {
		margin-left: 20px;
}
.offer .offer-info:nth-child(6) .offer-info__header {
		margin-bottom: 32px;
}
.offer .offer-info:nth-child(6) .offer-info__content:nth-child(3) span {
		font-weight: 700;
		line-height: 22px;
}
.offer .offer-info:nth-child(6) .offer-info__link:nth-child(4) {
		margin-top: 36px;
}
.offer .offer-info:nth-child(6) .offer-info__description {
		margin-top: 32px;
}
.offer .offer-info:nth-child(8) {
		margin-top: 35px;
}
.offer .offer-info:nth-child(8) .chart__title {
		font-style: italic;
		line-height: 22px;
		color: #717171;
		display: block;
		text-align: center;
		margin: 40px auto 0;
		max-width: 545px;
}
.offer .offer-info:nth-child(8) .chart {
		margin-top: 45px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		max-width: 915px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		max-width: 202px;
		width: 100%;
		margin-top: 20px;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap .pipe {
		width: 151px;
		height: 151px;
		border-radius: 50%;
		background: #FFFFFF;
		position: relative;
		overflow: hidden;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap .pipe .piece {
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		overflow: hidden;
		position: absolute;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap .pipe .piece::before {
		content: "";
		display: block;
		position: absolute;
		width: 50%;
		height: 100%;
		background: #8AA674;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap .pipe .piece.left {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
		z-index: 2;
		border-radius: 50%;
		/* only FireFox < 75.0v (fix bug)*/
}
.offer .offer-info:nth-child(8) .chart .chart-wrap .pipe .piece.right {
		-webkit-transform: rotate(190deg);
		        transform: rotate(190deg);
		z-index: 1;
		border-radius: 50%;
		/* only FireFox < 75.0v (fix bug)*/
}
.offer .offer-info:nth-child(8) .chart .chart-wrap .pipe .text {
		position: absolute;
		z-index: 3;
		bottom: 35px;
		left: 10px;
		right: 0;
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap .pipe .text span {
		font-family: "Roboto";
		font-size: 20px;
		line-height: 22px;
		color: #FFFFFF;
		letter-spacing: 0.04em;
		font-weight: 700;
		display: block;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap .pipe::before {
		content: "";
		display: block;
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		border-radius: 50%;
		z-index: 3;
		opacity: 1;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap span {
		font-family: "Roboto";
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.04em;
		max-width: 221px;
		margin-top: 15px;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(2) .pipe .piece::before {
		content: "";
		display: block;
		position: absolute;
		width: 50%;
		height: 100%;
		background: #74A67F;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(2) .pipe .piece.right {
		-webkit-transform: rotate(182deg);
		        transform: rotate(182deg);
		z-index: 1;
		border-radius: 50%;
		/* only FireFox < 75.0v (fix bug)*/
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(2) span {
		max-width: 151px;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(3) .pipe .piece::before {
		content: "";
		display: block;
		position: absolute;
		width: 50%;
		height: 100%;
		background: #57A969;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(3) .pipe .piece.right {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
		z-index: 1;
		border-radius: 50%;
		/* only FireFox < 75.0v (fix bug)*/
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(3) span {
		max-width: 153px;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(4) {
		margin-left: 30px;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(4) .pipe .piece.right {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
		z-index: 1;
		border-radius: 50%;
		/* only FireFox < 75.0v (fix bug)*/
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(4) .pipe .piece::before {
		content: "";
		display: block;
		position: absolute;
		width: 50%;
		height: 100%;
		background: #57A969;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(4) span {
		max-width: 200px;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(5) {
		margin-left: 15px;
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(5) .pipe .piece.right {
		-webkit-transform: rotate(186deg);
		        transform: rotate(186deg);
		z-index: 1;
		border-radius: 50%;
		/* only FireFox < 75.0v (fix bug)*/
}
.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(5) span {
		max-width: 153px;
}
.offer .offer-info:nth-child(8) {
		margin: 36px 0 0 0;
}
.offer .offer-info:nth-child(8) .offer-info__content:nth-child(3) a {
		font-weight: 700;
		line-height: 22px;
}
.offer .offer-info:nth-child(9) {
		margin-top: 33px;
}
.offer .offer-info:nth-child(9) .offer-info__header {
		margin-bottom: 37px;
}
.offer .offer-info:nth-child(9) .offer-info__link {
		margin-top: 37px;
		position: relative;
}
.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		max-width: 125px;
		top: 145px;
		left: 50%;
}
.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 span:nth-child(1) {
		font-family: "Times New Roman Regular ";
		font-size: 20px;
		line-height: 23px;
		font-weight: 400;
}
.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 span:nth-child(2) {
		font-family: "Times New Roman Bold";
		font-size: 35px;
		line-height: 41px;
		font-weight: 700;
		color: #597686;
}
.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data2 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		max-width: 200px;
		left: 26%;
		bottom: 25.3%;
}
.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data2 span {
		font-family: "Times New Roman Regular ";
		font-size: 20px;
		line-height: 19px;
		font-weight: 400;
}
.offer .offer-info:nth-child(9) .offer-info__header:nth-child(4) {
		font-style: italic;
		font-weight: 600;
		margin-top: 52px;
}
.offer .offer-info:nth-child(9) .offer-info__header:nth-child(4) span {
		font-style: italic;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		text-decoration: underline;
}
.offer .offer-info:nth-child(9) .offer-info__content:nth-child(6) {
		margin-top: 42px;
}
.offer .offer-info:nth-child(10) a {
		display: block;
		font-size: 16px;
		line-height: 22px;
		font-weight: 700;
		text-decoration: underline;
		color: #255F7E;
		text-align: center;
		text-transform: uppercase;
}
.offer .post__title {
		padding-left: 2%;
		font-size: 18px;
		line-height: 25px;
		font-weight: 700;
		margin-top: 45px;
}
.offer .coments {
		max-width: 934px;
		width: 100%;
		padding-left: 2%;
}
.offer .coments .coments-form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-top: 19px;
		padding-bottom: 21px;
}
.offer .coments .coments-form .coments-form__img {
		margin-right: 17px;
}
.offer .coments .coments-form .coment-form {
		width: 100%;
}
.offer .coments .coments-form .coment-form .form-wraps {
		background: #F1F1F1;
		min-height: 30px;
		max-height: 30px;
		max-width: 635px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-left: 8px;
}
.offer .coments .coments-form .coment-form .form-wraps .coment-form__textarea {
		background: #F1F1F1;
		max-width: 652px;
		width: 100%;
		outline: none;
		color: #B0B0B0;
		opacity: 0.6;
		font-size: 12px;
		line-height: 16px;
		font-weight: 300;
}
.offer .coments .coments-form .coment-form .form-wraps a {
		padding-right: 3%;
		padding-top: 1%;
}
.offer .coments .cooments__face {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-size: 14px;
		line-height: 22px;
		color: #2D5F9A;
		margin-top: 10px;
		margin-left: 9.7%;
}
.offer .coments .cooments__face img {
		margin-right: 9px;
}
.offer .coments .coments-items {
		margin-top: 25px;
}
.offer .coments .coments-items .coments-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
}
.offer .coments .coments-items .coments-item .coment-item__box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.offer .coments .coments-items .coments-item .coment-item__box img {
		width: 35px;
		height: 35px;
}
.offer .coments .coments-items .coments-item .coment-item__box .coments-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-left: 17px;
}
.offer .coments .coments-items .coments-item .coment-item__box .coments-content .user-name {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: baseline;
		    -ms-flex-align: baseline;
		        align-items: baseline;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
}
.offer .coments .coments-items .coments-item .coment-item__box .coments-content .user-name .user-name__number {
		margin-left: 8px;
		font-weight: 400;
		color: #C5C5C5;
		font-size: 12px;
		line-height: 16px;
}
.offer .coments .coments-items .coments-item .coment-item__box .coments-content .coments-content__text {
		margin-top: 5px;
		font-size: 16px;
		line-height: 24px;
}
.offer .coments .coments-items .coments-item .coment-item__box .coments-content .coments-content__text span {
		text-decoration: underline;
		font-size: 18px;
		line-height: 27px;
}
.offer .coments .coments-items .coments-item .coments-item__btn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-left: 52px;
		margin-top: 5px;
}
.offer .coments .coments-items .coments-item .coments-item__btn span {
		font-size: 16px;
		line-height: 22px;
		color: #C5C5C5;
}
.offer .coments .coments-items .coments-item .coments-item__btn div {
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		color: #57B05F;
		margin-left: 12px;
}
.offer .coments .coments-items .coments-item .coments-item__btn img {
		margin-left: 4%;
}
.offer .coments .coments-items .coments-item__record {
		margin-left: 92px;
}
.offer .coments .coments-items .coments-item:not(:first-child) {
		margin-top: 34px;
}
.offer .offer-btn {
		margin: 35px auto 30px;
		font-size: 20px;
		color: #FFFFFF;
		border: none;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background: #2D5F9A;
		border-radius: 5px;
		min-height: 60px;
		max-width: 375px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
}
.offer .content-form {
		max-width: 680px;
		margin: 20px auto;
		background: #FFFFFF;
		-webkit-box-shadow: 0 0 5px;
		        box-shadow: 0 0 5px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 10px;
}
.offer .content-form .content-form__title {
		text-align: center;
		color: #F44336;
		font-size: 45px;
		line-height: 55px;
		font-weight: 700;
}
.offer .content-form #form {
		width: 100%;
		margin-top: 20px;
}
.offer .content-form #form .form-box:nth-child(1) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.offer .content-form #form .form-box:nth-child(1) .form-box__label:nth-child(1) {
		text-decoration: line-through;
}
.offer .content-form #form .form-box:nth-child(1) .form-box__label:nth-child(2) span {
		color: #F44336;
		font-size: 30px;
		line-height: 35px;
		margin-left: 10px;
}
.offer .content-form #form .form-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-top: 20px;
}
.offer .content-form #form .form-box .form-box__label {
		font-size: 20px;
		line-height: 25px;

}
.offer .content-form #form .form-box .textbox {
		width: 100%;
}
.offer .content-form #form .form-box .textbox .inputText {
		text-align: center;
		border: 1px solid #CCCCCC;
		border-radius: 5px;
		width: 100%;
		min-height: 35px;
}
.offer .content-form #form .form-btn {
		width: 100%;
}
.offer .content-form #form .form-btn .form-btn__submit {
		border-radius: 5px;
		min-height: 50px;
		background-color: #F44336;
		font-size: 20px;
		line-height: 25px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
		color: white;
}

/*Responsive*/
@media (max-width: 1400px) {
		.sect1 div span {
				max-width: 475px;
		}

		.offer .offer-info .offer-info__link .offer-info__icon {
				left: 23%;
		}

		.offer .offer-info .offer-info__link .offer-info__div1 {
				left: 0;
		}

		.offer .offer-info .offer-info__link .offer-info__text3 {
				left: 0;
		}

		.offer .offer-info .offer-info__link .offer-info__div2 {
				left: 13%;
		}

		.offer .offer-info:nth-child(5) .offer-wrap .offer-images a span {
				text-align: center;
		}

		.offer .offer-info .offer-info__link .offer-info__img2 {
				margin-right: auto;
		}

		.offer .offer-info .offer-info__link .offer-info__img3 {
				margin-right: auto;
		}

		.offer .offer-info .offer-info__link .offer-info__div3 {
				left: 8%;
		}
}
/* Large: 992px - 1199px */
@media (max-width: 1199px) {
		.header nav .mobail-menu {
				display: block;
				padding-top: 10px;
		}

		.sect1 div .sect1__header {
				padding-right: 0;
		}

		.sect1 div span {
				max-width: 400px;
		}

		.offer .offer-info .offer-info__link .offer-info__img1 {
				max-width: 100%;
		}

		.header nav {
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
		}

		.header nav .nav .menu {
				display: none;
		}

		.offer .offer-info .offer-info__link .offer-info__img3 {
				width: auto;
		}

		.offer .offer-info .offer-info__link .offer-info__img4 {
				width: 90%;
		}

		.offer .offer-info:nth-child(13) .offer-info__link img {
				width: auto;
		}

		.offer .offer-info .offer-info__link .offer-info__icon {
				left: 13%;
		}

		.offer .offer-info .offer-info__link .offer-info__div2 {
				left: 6%;
		}

		.offer .offer-info:nth-child(5) .offer-wrap .offer-images {
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
		}
		.offer .offer-info:nth-child(5) .offer-wrap .offer-images a:nth-child(4) {
				margin-left: 0;
				margin-top: 20px;
		}

		.offer .offer-info .offer-info__link .offer-info__div3 {
				left: 3%;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 {
				top: 60px;
				left: 50%;
		}
		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data2 {
				left: 23%;
		}
}
/* Medium: 768px - 991px */
@media (max-width: 991px) {
		.header nav {
				padding-left: 0;
		}

		.header nav .nav .menu {
				display: none;
		}

		.header .wrapper .search {
				margin-right: 0;
		}

		.header nav .mobail-menu {
				display: block;
		}

		.sect1 div .sect1__header {
				font-size: 35px;
				line-height: 48px;
				max-width: 430px;
		}

		.sect1 div span {
				font-size: 25px;
				line-height: 34px;
				padding-right: 5%;
		}

		.offer .offer-info .offer-info__link .offer-info__img2 {
				width: 100%;
		}

		.offer .offer-info .offer-info__link .offer-info__img3 {
				width: 100%;
		}

		.offer .offer-info .offer-info__link .offer-info__img4 {
				width: 100%;
		}

		.offer .offer-info .offer-info__link .offer-info__img5 {
				width: 100%;
		}

		.offer .offer-info:nth-child(13) .offer-info__link img {
				width: 100%;
		}

		.offer .offer-info .offer-info__link .offer-info__icon {
				left: 3%;
		}

		.offer .offer__image {
				max-width: 200px;
		}

		.offer .offer-info .offer-info__link .offer-info__div1 {
				top: 10px;
		}

		.offer .offer-info .offer-info__link .offer-info__text {
				font-size: 10px;
				line-height: 14px;
				max-width: 128px;
				top: -7%;
				left: 25.3%;
		}

		.offer .offer-info .offer-info__link .offer-info__text2 {
				font-size: 10px;
				line-height: 14px;
				left: 72%;
				max-width: 128px;
		}

		.offer .offer-info .offer-info__link .offer-info__text3 {
				font-size: 10px;
				line-height: 14px;
				max-width: 128px;
		}

		.offer .offer-info .offer-info__link .offer-info__text4 {
				font-size: 10px;
				line-height: 14px;
				max-width: 128px;
		}

		.offer .offer-info .offer-info__desc {
				padding-left: 27px;
				margin-top: -35px;
		}
		.offer .offer-info .offer-info__desc span {
				font-size: 15px;
				line-height: 20px;
		}

		.offer .offer-info .offer-info__description {
				padding-left: 0;
				padding-right: 0;
		}

		.offer .offer-info:nth-child(5) .offer-wrap .offer-images {
				margin-top: 0;
		}
		.offer .offer-info:nth-child(5) .offer-wrap .offer-images a {
				margin-top: 20px;
		}
		.offer .offer-info:nth-child(5) .offer-wrap .offer-images a:nth-child(3) {
				margin-left: 0;
		}
		.offer .offer-info:nth-child(5) .offer-wrap .offer-images a:nth-child(4) {
				margin-left: 20px;
		}

		.offer .offer-info:nth-child(8) .chart .chart-wrap {
				max-width: 151px;
		}
		.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(even) {
				margin-left: 30px;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 {
				top: 60px;
				left: 50%;
		}
}
/* Small: 576px - 767px */
@media (max-width: 767px) {
		.header nav .nav .menu {
				display: none;
		}

		.offer .offer-info .offer-info__link .offer-info__img3 {
				width: 100%;
		}

		.offer .offer-info .offer-info__link .offer-info__img4 {
				width: 100%;
		}

		.offer .offer-info .offer-info__link .offer-info__img5 {
				width: 100%;
		}

		.offer .offer-info:nth-child(13) .offer-info__link img {
				width: 100%;
		}

		.header .wrapper .search {
				display: none;
		}

		.header nav .nav {
				display: none;
		}

		.offer .offer-info .offer-wrap {
				margin: 30px 0 35px 0px;
		}

		.header .wrapper .mobail-menu {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				margin-left: auto;
		}
		.header .wrapper .mobail-menu .search__btn {
				margin-right: 33px;
		}
		.header .wrapper .mobail-menu .search__btn img {
				min-width: 30px;
		}
		.header .wrapper .mobail-menu a .hamburger {
				min-width: 40px;
		}

		.offer .offer-info .offer-info__link .offer-info__text {
				left: 20.3%;
		}

		.offer .offer-info .offer-info__link .offer-info__text4 {
				left: 57%;
		}

		.sect1 {
				padding: 57px 0 655px 0;
				background: url("../img/main-mobil.png") no-repeat bottom/cover;
				background-position-x: center;
		}
		.sect1 span {
				padding-left: 5%;
		}

		.sect1 div .sect1__header {
				padding-left: 5%;
		}
}
/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
		.container {
				max-width: 570px;
				width: auto;
		}

		.px-5 {
				padding-right: 0.5rem !important;
				padding-left: 0.5rem !important;
		}

		.sect1 {
				padding: 57px 0 535px 0;
		}
		.sect1 span {
				margin-top: 22px;
				padding-left: 2%;
		}

		.offer .content .content__text {
				font-size: 19px;
				line-height: 19px;
				max-height: 19px;
		}
		.offer .content .content__text span {
				font-size: 19px;
				line-height: 19px;
		}

		.header nav .logo {
				padding-left: 4%;
		}

		.header nav .mobail-menu {
				padding-top: 5px;
				padding-right: 6%;
		}

		.header {
				padding: 12px 0 10px 0;
		}

		.offer .content {
				padding-left: 0;
		}
		.offer .content .content__text {
				max-width: 415px;
		}
		.offer .content .content__text span {
				margin: 0 5px;
		}

		.sect1 div .sect1__header {
				padding-left: 3%;
		}

		.offer .offer__title {
				padding-left: 0;
				font-size: 20px;
				line-height: 27px;
				max-width: 371px;
				margin-top: 52px;
		}
		.offer .offer__title span {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer__intro {
				margin: 46px 0 0 0;
				padding-left: 0;
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer__intro a {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer-info {
				padding-left: 1%;
		}
		.offer .offer-info .offer-info__header {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__header span {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__text {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__text a {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer-info .offer-info__link .offer-info__div1 {
				top: 106%;
		}

		.offer .offer-info .offer-info__desc span:nth-child(2) {
				margin-left: 0;
		}

		.offer .offer-info .offer-info__link .offer-info__text {
				top: -3%;
		}

		.offer .offer-info:nth-child(4) .offer-info__text:nth-child(5) {
				margin-top: 70px;
		}

		.offer .offer-info:nth-child(5) .offer-wrap ul li {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info:nth-child(5) .offer-wrap ul li span {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info:nth-child(5) .offer-wrap ul li u {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer-info .offer-info__list {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__list ul li {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__list ul li u {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer-info .offer-info__content {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__content u {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__content a {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer-info .offer-info__link .offer-info__text2 {
				left: 70%;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 span:nth-child(2) {
				font-size: 30px;
				line-height: 35px;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 {
				top: 95px;
				left: 50%;
				-webkit-box-align: start;
				    -ms-flex-align: start;
				        align-items: flex-start;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data2 span {
				font-size: 15px;
				line-height: 18px;
		}

		.offer .offer-info:nth-child(9) .offer-info__header:nth-child(4) span {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer-info .offer-info__items {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__items a {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__items ul li {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer-info .offer-info__section {
				font-size: 20px;
				line-height: 27px;
		}
		.offer .offer-info .offer-info__section span {
				font-size: 20px;
				line-height: 27px;
		}

		.offer .offer-info:nth-child(10) a {
				font-size: 20px;
				line-height: 27px;
		}

		.header nav .nav .menu {
				display: none;
		}

		.offer .offer-info .offer-info__link .offer-info__img3 {
				width: 100%;
		}

		.offer .offer-info .offer-info__link .offer-info__img4 {
				width: 100%;
		}

		.offer .offer-info .offer-info__link .offer-info__img5 {
				width: 100%;
		}

		.offer .offer-info:nth-child(13) .offer-info__link img {
				width: 100%;
		}

		.offer .offer-info .offer-info__link img {
				width: 100%;
		}

		.header .wrapper .search {
				display: none;
		}

		.offer .offer-info .offer-wrap {
				margin: 30px 0 35px 0px;
		}

		.header .wrapper .logo .logo__img {
				width: 53px;
		}

		.header .wrapper .logo span {
				font-size: 25px;
				line-height: 29px;
		}

		.offer .offer-info .offer-info__quote {
				font-size: 30px;
				line-height: 35px;
				margin-left: 0;
		}

		.offer .coments .coments-items .coments-item__record {
				margin-left: 20px;
		}

		.header .wrapper .mobail-menu {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				margin-left: auto;
		}
		.header .wrapper .mobail-menu .search__btn {
				margin-right: 33px;
		}
		.header .wrapper .mobail-menu .search__btn img {
				min-width: 30px;
		}
		.header .wrapper .mobail-menu a .hamburger {
				min-width: 40px;
		}

		.offer .content .content__head {
				font-size: 30px;
				line-height: 35px;
		}

		.offer .posts .posts__link {
				min-height: 68px;
				max-width: 100%;
				margin-top: 15px;
		}

		.offer .wrap-btn .offer-btn {
				text-align: center;
				margin: 35px auto 30px;
		}

		.offer .offer-btn {
				text-align: center;
				margin: 35px auto 30px;
		}

		.offer .coments {
				padding-left: 0;
		}
}
/* Extra small: 0px (380px) - 460px */
@media (max-width: 479px) {
		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 {
				max-width: 125px;
				top: 57px;
				left: 50%;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 span:nth-child(1) {
				font-size: 16px;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 span:nth-child(2) {
				font-size: 28px;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data2 {
				left: 20%;
		}
		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data2 span {
				font-size: 13px;
		}
}
/* Extra small: 0px (320px) - 380px */
@media (max-width: 379px) {
		.offer .content .content__text {
				font-size: 16px;
		}
		.offer .content .content__text span {
				font-size: 16px;
				margin: 0 5px;
		}

		.offer .offer-info .offer-info__link .offer-info__text {
				left: 15.3%;
				top: -15%;
		}

		.offer .offer-info .offer-info__link .offer-info__text2 {
				left: 61%;
		}

		.offer .offer-info .offer-info__link .offer-info__text3 {
				bottom: 18%;
		}

		.offer .offer-info .offer-info__link .offer-info__text4 {
				left: 48%;
				bottom: 12%;
		}

		.offer .offer-info .offer-info__desc {
				margin-top: -20px;
		}

		.offer .offer-info .offer-info__link .offer-info__div1 {
				top: 120%;
		}

		.offer .offer-info:nth-child(8) .chart {
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
		}

		.offer .offer-info:nth-child(8) .chart .chart-wrap:nth-child(even) {
				margin-left: 0;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 {
				max-width: 125px;
				top: 57px;
				left: 50%;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 span:nth-child(1) {
				font-size: 16px;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data1 span:nth-child(2) {
				font-size: 28px;
		}

		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data2 {
				left: 20%;
		}
		.offer .offer-info:nth-child(9) .offer-info__link .offer-info__data2 span {
				font-size: 13px;
		}
}