.timer {
  max-width: 330px;
  margin: 0 auto;
}
.timer__title {
  text-align: center;
  font: 500 27px/30px var(--font);
  color: var(--light);
  margin: 0 auto 21px;
  max-width: 310px;
}
#content .timer-count {
  font-size: 30px;
  line-height: 1;
  font-family: inherit;
  color: black;
  text-align: center;
  text-indent: initial;
  margin: 0;
  background-color: var(--accent);
}
.timer-delimeter {
  font-size: 30px;
  line-height: 1;
  font-family: inherit;
  margin: 0 10px;
}
.timer__text {
  font: 400 18px/20px var(--font);
  color: var(--light);
  text-align: center;
}
.hidden {
	overflow: hidden;
}

.visible {
	overflow: visible;
}

.pos-ab{
	position: absolute;
}
.pos-rel{
	position: relative;
}
.db {
	display: block;
}
.di{
	display: inline;
}

.dg {
	display: grid;
}
.gr-a{
	grid-area: 1/1;
}
.df {
	display: flex;
}

.dir-col {
	flex-direction: column;
}

.it-c {
	justify-content: center;
	align-items: center;
}

.al-c {
	align-items: center;
}

.al-s {
	align-items: stretch;
}

.ju-c {
	justify-content: center;
}

.ju-b {
	justify-content: space-between;
}

.ju-a {
	justify-content: space-around;
}

.grow {
	flex-grow: 1;
}
.wrap {
	flex-wrap: wrap;
}
.shrink{
	flex-shrink: 0;
}
.tac{
	text-align: center;
}
.ttu{
	text-transform: uppercase;
}
.tt-u{
	text-decoration: underline;
}
.tt-a{
	font-weight: 700;
	color: inherit;
}
.fit{
	width: fit-content;
}
.fttu::first-letter{
  text-transform: uppercase;
}

.mr-a{
	margin:0 auto;
}